<script type="text/javascript" src="/assets/extjs/jquery.js?v=1499321484"></script>
<script type="text/javascript" src="/assets/extjs/autocomplete.js?v=1026061890"></script>
<script type="text/javascript" src="/assets/extjs/hogan.js?v=1079789192"></script>
<script type="text/javascript" charset="utf-8">var uID=6;</script>