<div class='div-l' >
<div class='section_B ' >
<div class='st-img'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(83);?>
</div>
</div>
</div>
<div class='div-l' >
<div class='section_I ' >
<div class='jobData'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\jobSide::RENDER(85);?>
</div>
</div>
<div class='section_H ' >
<div class='job-st'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\jobDetails::RENDER(84);?>
</div>
</div>
</div>
