<div class='div-l' >
<div class='section_B ' >
<div class='st-img'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(51);?>
</div>
</div>
</div>
<div class='div-l' >
<div class='section_B ' >
<div class='job-search'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(52);?>
</div>
<div class='last-added-jobs'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\latestJobs::RENDER(77);?>
</div>
</div>
</div>
<div class='div-l' >
<div class='section_B ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
