<div class='div-l' >
<div class='section_B ' >
<div class='st-img'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(78);?>
</div>
</div>
</div>
<div class='div-l' >
<div class='section_I ' >
<div class='job-search'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(79);?>
</div>
</div>
<div class='section_H ' >
<center><div class='more-pages'  style='width:100%;float:center' >
<?\JOBSEARCH\WIDGET\pagination::RENDER(81);?>
</div>
</center><div class='resultset-job'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchResult::RENDER(80);?>
</div>
<center><div class='more-pages'  style='width:100%;float:center' >
<?\JOBSEARCH\WIDGET\pagination::RENDER(82);?>
</div>
</center></div>
</div>
