ul{
    overflow: hidden;
    width: 100%;
    //margin: 0;
    //padding: 0;
    list-style: none;
    li{
        float: left;
        //margin: 0 2*$breadcrumb-padding 0 0;
        margin: 0 2em 0 0;
    }

    a,span{
        //padding: .7*$breadcrumb-padding $breadcrumb-padding .7*$breadcrumb-padding 2*$breadcrumb-padding;
        padding: .7em 1em .7em 2em;
        float: left;
        text-decoration: $breadcrumb-decoration;
        color: $breadcrumb-link-color;
        font-size : $breadcrumb-size;
        background-color: $breadcrumb-background-color;
        position: relative;
        z-index: 1;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        //border-radius: $breadcrumb-radius 0 0 $breadcrumb-radius;
        border-radius: .4em 0 0 .4em;
    }
    span{
        color : $breacrumb-text-color;
        text-decoration : $breadcrumb-decoration;
        border-radius: $breadcrumb-radius;
    }

    a:hover{
        color: $breadcrumb-link-hover-color;
        text-decoration: $breadcrumb-hover-decoration;
        background: $breadcrumb-hover-background-color;
    }

    a::after{
        background-color: $breadcrumb-background-color;
        content: "";
        //height: 2.5*$breadcrumb-padding;
        height : 2.5em;
        //margin-top: -1.25*$breadcrumb-padding;
        margin-top: -1.25em;
        position: absolute;
        //right: -1*$breadcrumb-padding;
        right: -1em;
        top: 50%;
        //width: 2.5*$breadcrumb-padding;
        width: 2.5em;
        z-index: -1;
        @include rotate(45deg);
        //transform: rotate(45deg);
        //border-radius: $breadcrumb-radius;
        border-radius: .4em;
    }
    a:hover:after{
        background-color: $breadcrumb-hover-background-color;
    }
}
