$breadcrumb-background-color : $panel-background-color;
$breadcrumb-hover-background-color : lighten($link-font-color, 50%);
//Dimensions
$breadcrumb-radius : 5px;
$breadcrumb-padding : 8px;
//Link
$breadcrumb-size : 12px;
$breadcrumb-decoration : underline;
$breadcrumb-link-color : $link-font-color;
//LinkHover
$breadcrumb-hover-decoration : underline;
$breadcrumb-link-hover-color : $link-hover-font-color;
//Text
$breacrumb-text-color : $primary-font-color;




