ul{
  margin: 0;
  padding: 0;
  list-style: none;
  background: $breadcrumb-background-color;
  border-width: 1px;
  border-style: solid;
  border-top-color: lighten($breadcrumb-border-color, 20%);
  border-right-color: lighten($breadcrumb-border-color, 10%);
  border-left-color: lighten($breadcrumb-border-color, 10%);
  border-bottom-color: $breadcrumb-border-color;
  border-radius: $breadcrumb-radius;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  overflow: hidden;
  width: 100%;
  li{
    float: left;
  }
  a,span{
    padding: $breadcrumb-padding;
    padding: 0.7*$breadcrumb-padding $breadcrumb-padding 0.7*$breadcrumb-padding 2*$breadcrumb-padding;

    float: left;
    text-decoration: $breadcrumb-decoration;
    color: $breadcrumb-link-color;
    position: relative;
    font-size : $breadcrumb-size;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    background-color: $breadcrumb-background-color;
    background-image: linear-gradient(to right, lighten($breadcrumb-background-color, 20%) , $breadcrumb-background-color);
  }
    span{
        color : $breacrumb-text-color;
    }
  li:first-child a{
    //padding-left: 1em;
    padding-left: $breadcrumb-padding;
    border-radius: $breadcrumb-radius 0 0 $breadcrumb-radius;
  }
  a:hover{
    color: $breadcrumb-link-hover-color;
    text-decoration: $breadcrumb-hover-decoration;
    background: $breadcrumb-hover-background-color;
  }
  a::after,a::before{
    content: "";
    position: absolute;
    top: 50%;


    //margin-top: -1.5em;
    //border-top: 1.5em solid transparent;
    //border-bottom: 1.5em solid transparent;
    //border-left: 1em solid;*/

    margin-top: -1.5*$breadcrumb-padding;
    border-top: 1.5*$breadcrumb-padding solid transparent;
    border-bottom: 1.5*$breadcrumb-padding  solid transparent;
    border-left: 1*$breadcrumb-padding  solid;
    right: -1*$breadcrumb-padding;
  }
  a::after{
    z-index: 2;
    border-left-color: $breadcrumb-background-color;
  }
  a::before{
    border-left-color: $breadcrumb-border-color;
    //right: -1.1em;
    right: -1.1*$breadcrumb-padding;
    z-index: 1;
  }
  a:hover::after{
    border-left-color: $breadcrumb-hover-background-color;
  }
  .current, .current:hover{
    font-weight: bold;
    background: none;
  }
  .current::after,.current::before{
    content: normal;
  }
}