$breadcrumb-background-color : $panel-background-color;
$breadcrumb-border-color : $border-color;
$breadcrumb-radius : 5px;

$breadcrumb-size : 12px;
$breadcrumb-padding : 8px;

//$breadcrumb-padding : 8px 8px 8px 24px;
$breacrumb-text-color : $primary-font-color;
$breadcrumb-decoration : underline;
$breadcrumb-hover-decoration : underline;
$breadcrumb-link-color : $link-font-color;
$breadcrumb-link-hover-color : $link-hover-font-color;
$breadcrumb-hover-background-color : $site-background-color;

