//titleFont
$title-size : 16px;
$title-color : $primary-font-color;
$title-weight : bold;
//inputForm
$input-border-color : $border-color;
$input-border-size : 1px;
$input-radius : 2px;
$input-bg : lighten($apply-color, 40%);
$input-color : $link-font-color;
$input-size : 14px;
$input-weight : normal;
$input-padding : 5px;
$input-margin-top : 20px;
//searchButton
$icon-width : 30px;
$icon-height : 30px;
$button-decoration : none;
$button-color : lighten($link-hover-font-color, 50%);
$button-size:18px;
$button-weight:bold;
$button-start-bg:lighten($site-background-color, 40%);
$button-end-bg:$site-background-color;
$button-hover-decoration:none;
$button-hover-color: lighten($link-hover-font-color, 50%);
$button-start-hover-bg:lighten($site-background-color, 50%);
$button-end-hover-bg:lighten($site-background-color, 10%);
$button-margin-top : 10px;
$button-radius : 5px;
$button-padding : 20px;
$button-border-size : 1px;
$button-border-color: $border-color;
//dropdown
$dropdown-width : 250px;
$dropdown-border-top-size : 1px;
$dropdown-border-left-size : 1px;
$dropdown-border-right-size : 1px;
$dropdown-border-bottom-size : 1px;
$dropdown-border-color : $border-color;
$dropdown-bg: lighten($apply-color, 40%);
$dropdown-top-radius : 0px;
$dropdown-bottom-radius : 10px;
//suggestion
$suggestion-color: $link-font-color;
$suggestion-size : 12px;
$suggestion-weight : normal;
$suggestion-padding-size : 0px;
$suggestion-margin-top : 5px;
$suggestion-radius : 10px;
$suggestion-border-color : $border-color;
$suggestion-border-top-size : 1px;
$suggestion-border-left-size : 0px;
$suggestion-border-right-size : 0px;
$suggestion-border-bottom-size : 0px;