div{
    p.id{
        @include border-radius($id-radius);
        border : $id-border-size solid $id-border-color;
        background-color : $id-bg;
        color : $id-color;
        font-size : $id-size;
        padding : $id-padding;
        font-weight : $id-weight;
    }
    p.title{
        @include border-radius($title-radius);
        border : $title-border-size solid $title-border-color;
        background-color : $title-bg;
        color : $title-color;
        font-size : $title-size;
        padding : $title-padding;
        font-weight : $title-weight;
    }
    p.description{
        @include border-radius($description-radius);
        border : $description-border-size solid $description-border-color;
        background-color : $description-bg;
        color : $description-color;
        font-size : $description-size;
        padding : $description-padding;
        font-weight : $description-weight;
        line-height: $description-line-height;
    }
}

button{
    @include border-radius( $apply-radius );
    border : $apply-border-size solid $apply-border-color;
    color : $b-apply-color;
    @include gradient-vertical($apply-start-bg, $apply-end-bg);
    font-size: $apply-size;
    font-weight : $apply-weight;
    padding : $apply-vertical-padding $apply-horizontal-padding ;
    text-decoration : $apply-decoration;
}
button:hover{
    color : $apply-hover-color;
    @include gradient-vertical($apply-start-hover-bg, $apply-end-hover-bg);
    text-decoration : $apply-hover-decoration;
}