//jobID
$id-radius : 5px;
$id-border-size : 0px;
$id-border-color : $border-color;
$id-bg : $input-background-color;
$id-color : $primary-font-color;
$id-size : 13px;
$id-padding : 5px 10px;
$id-weight : bold;
//Title
$title-radius : 0px;
$title-border-size : 0px;
$title-border-color : $border-color;
$title-bg : $site-background-color;;
$title-color : $link-color;
$title-size : 16px;
$title-padding : 0px 5px;
$title-weight : normal;
//Description
$description-radius : 0px;
$description-border-size : 0px;
$description-border-color : $border-color;
$description-bg : $site-background-color;
$description-color : $primary-font-color;
$description-size : 12px;
$description-padding : 0px 0px;
$description-weight : normal;
$description-line-height : 150%;
//Apply
$apply-radius : 10px;
$apply-border-size : 1px
$apply-border-color : $border-color;
$b-apply-color : $site-background-color;
$apply-start-bg : $apply-color;
$apply-end-bg : lighten($apply-color, 30%);
$apply-size : 16px;
$apply-weight : bold;
$apply-vertical-padding : 5px;
$apply-horizontal-padding :5px;
$apply-decoration : none;
//ApplyHover
$apply-hover-color : lighten($apply-color, 40%);
$apply-hover-decoration : underline;
$apply-start-hover-bg : lighten($apply-color, 30%);
$apply-end-hover-bg : $apply-color;