<div class='fluid-1' >
<div class='advanced_b ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
<div class='fluid-1' >
<div class='advanced_o ' >
<div class='refStyle'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\refine::RENDER(6);?>
</div>
</div>
<div class='advanced_g ' >
<div class='search-data'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchResult::RENDER(120);?>
</div>
</div>
</div>
