<div class='fluid-1' >
<div class='advanced_b ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
<div class='fluid-1' >
<div class='advanced_h ' >
<div class='job-details'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\jobDetails::RENDER(4);?>
</div>
</div>
<div class='advanced_i ' >
<div class='jobInfos'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\jobSide::RENDER(5);?>
</div>
</div>
</div>
