<div class='fluid-1' >
<div class='advanced_b ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
<div class='fluid-1' >
<div class='advanced_b ' >
<div class='panel-search'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(87);?>
</div>
</div>
</div>
