p{
    color : $jobdesc-color;
    font-size : $jobdesc-size;
    font-weight : $jobdesc-weight;
    float : left;
    padding : $jobdesc-padding;
    background-color : $jobdesc-bg;
    line-height : $jobdesc-line-height;
    text-align : justify;
}
h1{
    color : $jobtitle-color;
    font-size : $jobtitle-size;
    font-weight : $jobtitle-weight;
}

button{
    @include border-radius( $apply-radius );
    border : $apply-border-size solid $apply-border-color;
    color : $b-apply-color;
    @include gradient-vertical($apply-start-bg, $apply-end-bg);
    font-size: $apply-size;
    font-weight : $apply-weight;
    padding : $apply-vertical-padding $apply-horizontal-padding ;
    text-decoration : $apply-decoration;
}
button:hover{
    color : $apply-hover-color;
    @include gradient-vertical($apply-start-hover-bg, $apply-end-hover-bg);
    text-decoration : $apply-hover-decoration;
}