//Title
$jobtitle-color : $link-font-color;
$jobtitle-size : 18px;
$jobtitle-weight : bold;
//Description
$jobdesc-color : $primary-font-color;
$jobdesc-size : 14px;;
$jobdesc-weight : normal;
$jobdesc-padding : 5px;
$jobdesc-bg : $input-background-color;
$jobdesc-line-height : 150%;
//Apply
$apply-radius : 10px;
$apply-border-size : 1px
$apply-border-color : $border-color;
$b-apply-color : $primary-font-color;
$apply-start-bg : $apply-color;
$apply-end-bg : lighten($apply-color, 30%);
$apply-size : 16px;
$apply-weight : bold;
$apply-vertical-padding : 5px;
$apply-horizontal-padding :5px;
$apply-decoration : none;
//ApplyHover
$apply-hover-color : $primary-font-color;
$apply-hover-decoration : underline;
$apply-start-hover-bg : lighten($apply-color, 30%);
$apply-end-hover-bg : $apply-color;