
<h1><?=$job->getTitle();?></h1>
<hr />
<div style="clear:both"></div>

<p>
    <br />
    <?= $job->getDescription(); ?>
    <br /><br /><br />
    <form action="<?=$job->getRedirectURL()->url;?>" method="POST" target="<?=$target;?>">
        <center>
            <button type="submit"><?=$applyText;?></button>
        </center>
    </form>
</p>

<div style="clear:both"></div>

