.refine{
    border-color : $refine-border-color;
    border-size : $refine-border-size;
    @include border-radius($refine-radius);
    background-color : $refine-bg;
    padding : $input-padding*2;
    
    .title{
        font-size : $title-size;
        color : $title-color;
        font-weight : $title-weight;

    }
    .subtitle{
        font-size : $subtitle-size;;
        color : $subtitle-color;
        font-weight : $subtitle-weight;
        margin-top : $input-padding*2;
    }
    .inputSearch{
        border-color : $input-border-color;
        border-size : $input-border-size;
        @include border-radius($input-radius);
        background-color : $input-bg;
        color : $input-color;
        font-size : $input-size;
        font-weight : $input-weight;
        padding : $input-padding;
        width : 100%;

    }
    .show{
        float : left;
        text-decoration : $show-decoration;
        color : $show-color;
        font-size : $show-size;
        font-weight : $show-weight;
        cursor : pointer;
    }
    .show:hover{
        text-decoration : $show-hover-decoration;
        color :     $show-hover-color;
    }
    button{
        text-decoration : $button-decoration;
        color : $button-color;
        font-size : $button-size;
        font-weight : $button-weight;
        @include gradient-vertical($button-start-bg, $button-end-bg);
        padding-top : $input-padding;
        padding-bottom : $input-padding;
        padding-left : $input-padding;
        padding-right : $input-padding;
    }
    button:hover{
        text-decoration : $button-hover-decoration;
        color : $button-hover-color;
        @include gradient-vertical($button-start-hover-bg, $button-end-hover-bg);
    }
    .submitSearch{
        float : right;
    }
}


.twitter-typeahead{
    width : 100%;
}
.typeahead,
.tt-query,
.tt-hint {
    
    border-color : $input-border-color;
    border-size : $input-border-size;
    @include border-radius($input-radius);
    background-color : $input-bg;
    color : $input-color;
    font-size : $input-size;
    font-weight : $input-weight;
    padding : $input-padding;
    width : 100% !important;
    outline: none;
}

.typeahead {
    background-color : $input-bg;
}

.typeahead:focus {
//    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 300px;
    margin-top: 0px;
    padding: 8px 0;
    background-color : $input-bg;
    border: 1px solid $input-border-color;
    @include border-radius($input-radius);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    color : $input-color;
    font-size : $input-size;
    font-weight : $input-weight;
    padding : $input-padding;
    @include border-radius($input-radius);
    border: 1px solid $input-border-color;
    line-height : 120%;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}
