//refineBorder
$refine-border-color : $border-color;
$refine-border-size : 1px;
$refine-radius:0px;
$refine-bg: lighten($body-background-color, 60%);
//title
$title-size : 16px;
$title-color : $primary-font-color;
$title-weight : bold;
//SubTitle
$subtitle-size : 14px;
$subtitle-color  : $primary-font-color;
$subtitle-weight : bold;
//Input
$input-border-color : $border-color;
$input-border-size : 1px;
$input-radius : 2px;
$input-bg : lighten($apply-color, 40%);
$input-color : $link-font-color;
$input-size : 14px;
$input-weight : normal;
$input-padding : 5px;
//Button
$button-decoration : none;
$button-color : lighten($link-hover-font-color, 50%);
$button-size:14px;
$button-weight:bold;
$button-start-bg:lighten($site-background-color, 40%);
$button-end-bg:$site-background-color;
//ButtonHover
$button-hover-decoration:none;
$button-hover-color: lighten($link-hover-font-color, 50%);
$button-start-hover-bg:lighten($site-background-color, 50%);
$button-end-hover-bg:lighten($site-background-color, 10%);