<style type="text/css">


</style>

<div class="refine">

    <div class="title">
        Job Search
    </div>

    <div class="subtitle">
        <?= $keywordText; ?>
    </div>
    <input type="text" id="keywordSearch" class="inputSearch"/>

    <? if ($showLocation) { ?>
    <div class="subtitle">
        <?= $locationText; ?>
    </div>
    <input type="text" id="locationSearch" class="inputSearch"/>
    <input type="hidden" id="locID" />
    <?}?>

    <button id="submitSearch" class="submitSearch"  type="button" >
        <?=$searchText;?>
    </button>

    <div style="clear:both"></div>

</div>