ul{
    float:left;
    padding : $classification-padding;
    list-style-type: none;
    margin : 0px;
    li{
        margin : $classification-margin;
        a{
            text-decoration : $classification-decoration;
            font-size : $classification-size;
            font-weight : $classification-weight;
            color : $classification-color;
        }
        a:hover{
            text-decoration : $classification-hover-decoration;
            color : $classification-hover-color;
        }
    }
}