$classification-padding : 5px 5px 5px 5px;
$classification-margin : 0px 0px 0px 0px;
$classification-decoration : none;
$classification-size : 12px;
$classification-weight : normal;
$classification-color : $link-color;

$classification-hover-decoration : underline;
$classification-hover-color : $link-hover-color;