<h3><?=$title;?></h3>

<?


foreach($urls as $c=>$urllist){
    echo "<ul style='width:".floor(100/$nbColumns)."%'>";
    foreach($urllist as $url){
        echo "<li><a href=\"".$url->href."\">".$url->name."</a>";
        if($showChildren && count($url->children)>0){
            echo "<ul >";
            foreach($url->children as $url2){
                echo "<li><a href=\"".$url2->href."\">".$url2->name."</a></li>";
            }
            echo "</ul>";
        }

        echo "</li>";    
    }
    echo "</ul>";
}
?>




