p{
    font-size : $title-size;
    font-weight : $title-weight;
    color : $title-color;
    @include border-radius($title-radius);
    border : $title-border-size solid $title-border-color;
    background-color : $title-bg;
    padding : $title-padding;
    text-align : $title-text-align;
}

table{
    tr:nth-child(even) {
        background: $table-even-bg;
    }
    tr:nth-child(odd) {
        background:  $table-odd-bg;
    }


    .c1{
        width : 50%;
        h2{
            margin : 0;

            a{
                color : $job-link-color;
                font-size : $job-link-size;
                font-weight : $job-link-weight;
                text-decoration : $job-link-decoration;
            }
            a:hover{
                color : $job-link-hover-color;
                text-decoration : $job-link-hover-decoration;
            }
        }
        .infos{
            margin-top : $element-margin/2;
            color : $infos-color;
            font-size : $infos-size;
            font-weight : $infos-weight;
        }
        .description{
            margin-top : $element-margin/2;
            color : $jobdesc-color;
            font-size : $jobdesc-size;
            font-weight : $jobdesc-weight;
            line-height : $jobdesc-line-height;
        }
    }
    .c2{
        width : 20%;
        color : $location-color;
        font-size : $location-size;
        font-weight : $location-weight;
        margin-bottom : $element-margin/2;
    }
    .c3{
        width : 15%;
        color : $type-color;
        font-size : $type-size;
        font-weight : $type-weight;
    }
    .c4{
        width : 15%;
        color : $date-color;
        font-size : $date-size;
        font-weight : $date-weight;
    }

}