//Title
$title-size : 16px;
$title-weight : bold;
$title-color : $primary-font-color;
$title-radius : 0px;
$title-border-size : 0px;
$title-border-color : $border-color;
$title-bg : $site-background-color;
$title-padding : 5px 10px;
$title-text-align : left;
//Element
$element-margin : 10px;
//table
$table-even-bg : $apply-color;
$table-odd-bg : lighten($apply-color, 40%);
//jobLink
$job-link-color : $link-font-color;
$job-link-size : 16px;
$job-link-weight : normal;
$job-link-decoration : none;
//jobLinkHover
$job-link-hover-color : $link-hover-font-color;
$job-link-hover-decoration : underline;
//Date
$date-color : $primary-font-color;
$date-size : 12px;
$date-weight : bold;
//EmploymentType
$type-color : $primary-font-color;
$type-size : 12px;
$type-weight : bold;
//Infos
$infos-color : $primary-font-color;
$infos-weight : bold;
$infos-size : 12px;
//Location
$location-color : $primary-font-color;
$location-size : 12px;
$location-weight : bold;
//Description
$jobdesc-color : lighten($primary-font-color, 30%);
$jobdesc-size : 12px;
$jobdesc-weight : normal;
$jobdesc-line-height : 120%;

