<div class='local_Q' >
<div class='futur-b ' >
<div class='style-im'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(23);?>
</div>
</div>
</div>
<div class='local_Q' >
<div class='futur-i ' >
<div class='style-ref'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\refine::RENDER(24);?>
</div>
<div class='search-form'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(28);?>
</div>
</div>
<div class='futur-h ' >
<div class='job-list'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchResult::RENDER(25);?>
</div>
<div class='pagination-list'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\pagination::RENDER(26);?>
</div>
</div>
</div>
<div class='local_Q' >
<div class='futur-b ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
