<div class='local_Q' >
<div class='futur-b ' >
<div class='style-im'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(10);?>
</div>
</div>
</div>
<div class='local_Q' >
<div class='futur-b ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
<div class='local_Q' >
<div class='futur-b ' >
<div class='search-form'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(12);?>
</div>
</div>
</div>
