<div class='local_Q' >
<div class='futur-b ' >
<div class='style-im'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(55);?>
</div>
</div>
</div>
<div class='local_Q' >
<div class='futur-b ' >
<div class='job-st'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\jobDetails::RENDER(54);?>
</div>
<div class='string-data'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\freeText::RENDER(75);?>
</div>
<div class='search-form'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(76);?>
</div>
</div>
</div>
