<div class='wrapper-1' >
<div class='blurb_Y ' >
<div class='styleImage'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(139);?>
</div>
</div>
<div class='blurb_K ' >
<div class='jobs-search'  style='width:100%;float:left;padding-top:60px;padding-left:100px' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(140);?>
</div>
</div>
</div>
<div class='wrapper-1' >
<div class='blurb_B ' >
<div class='jobData'  style='width:100%;float:left;padding-right:10px;padding-left:10px' >
<?\JOBSEARCH\WIDGET\jobDetails::RENDER(141);?>
</div>
</div>
</div>
