<div class='wrapper-1' >
<div class='blurb_B ' >
<div class='styleImage'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(134);?>
</div>
</div>
</div>
<div class='wrapper-1' >
<div class='blurb_B ' >
<div class='jobs-search'  style='width:100%;float:left;padding-top:50px;padding-right:50px;padding-bottom:50px;padding-left:100px' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(121);?>
</div>
</div>
</div>
<div class='wrapper-1' >
<div class='blurb_T ' >
<div style='width : 100%;float : left;'><br /></div></div>
<div class='blurb_F ' >
<div class='recentJobs'  style='width:100%;float:left;padding-bottom:40px' >
<?\JOBSEARCH\WIDGET\latestJobs::RENDER(143);?>
</div>
</div>
<div class='blurb_T ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
