<div class='wrapper-1' >
<div class='blurb_Y ' >
<div class='styleImage'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(135);?>
</div>
</div>
<div class='blurb_K ' >
<div class='jobs-search'  style='width:100%;float:left;padding-top:60px;padding-left:100px;background-color:$site-background-color;background-image:url(http://jscommon:8181/uploadBackground/136) no-repeat;background-position:left bottom' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(136);?>
</div>
</div>
</div>
<div class='wrapper-1' >
<div class='blurb_I ' >
<div class='refineData'  style='width:100%;float:left;margin-top:20px;padding-right:10px;padding-left:10px' >
<?\JOBSEARCH\WIDGET\refine::RENDER(137);?>
</div>
</div>
<div class='blurb_H ' >
<div class='job-resultset'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchResult::RENDER(138);?>
</div>
<div class='pagination-st'  style='width:100%;float:left;margin-left:100px;padding-top:20px;padding-bottom:20px' >
<?\JOBSEARCH\WIDGET\pagination::RENDER(162);?>
</div>
</div>
</div>
