.job{
    width : 100%;
    float : left;
    padding-left : 10px;
    background-color : $job-bg;
    .title{
        float : left;
        width : 75%;
        font-size : $job-title-size;
        color : $job-title-color;
        font-style : $job-font-style;
        margin-top : 10px;
    }
    .date{
        float : right;
        width : 25%;
        background-color : $date-container-bg;
        padding-left : 5px;
        padding-bottom : 5px;
        .date2{
            background-color : $date-bg;
            width : 100%;
            float : right;
            padding-top : 5px;
            padding-bottom : 5px;
            .s1{
                padding-left : 5px;
                color : $updated-color;
                font-size : $updated-size;
                font-style : $updated-font-style;
                font-weight : $updated-weight;
            }
            .s2{
                color : $date-color;
                font-size : $date-size;
                font-style : $date-font-style;
                font-weight : $date-weight;
            }
        }
    }
    .info{
        float : left;
        width : 33%;
        margin-top : 10px;
        .key{
            float : left;
            width : 100%;
            font-size : $key-size;
            font-weight : $key-weight;
            color : $key-color;
        }
        .value{
            float : left;
            width : 100%;
            margin-top : 5px;
            font-size : $value-size;
            font-weight : $value-weight;
            color : $job-title-color;
        }
    }
    .description{
        font-size : $job-desc-size;
        font-weight : $job-desc-weight;
        line-height : $job-desc-line-height;
        color : $job-desc-color;
    }
}


button{
    @include border-radius( $apply-radius );
    border : $apply-border-size solid $apply-border-color;
    color : $b-apply-color;
    @include gradient-vertical($apply-start-bg, $apply-end-bg);
    font-size: $apply-size;
    font-weight : $apply-weight;
    padding : $apply-vertical-padding $apply-horizontal-padding ;
    text-decoration : $apply-decoration;
}
button:hover{
    color : $apply-hover-color;
    @include gradient-vertical($apply-start-hover-bg, $apply-end-hover-bg);
    text-decoration : $apply-hover-decoration;
}