//title
$job-bg : lighten($input-background-color, 60%);
$job-title-size : 20px;
$job-title-color : $link-hover-font-color;
$job-font-style : italic;
//dateContainer
$date-container-bg: $input-background-color;
$date-bg : lighten($input-background-color, 40%);
//updated
$updated-color : lighten($input-background-color, 60%);
$updated-size : 16px;
$updated-font-style : italic;
$updated-weight : bold;
//DateText
$date-color : #ffffff;
$date-size : 18px;
$date-font-style : italic;
$date-weight : bold;
//Key
$key-size : 13px;
$key-weight : bold;
$key-color  : $primary-font-color;
//Value
$value-size  : 13px;
$value-weight : normal;
//Description
$job-desc-size : 14px;
$job-desc-weight : normal;
$job-desc-line-height : 130%;
$job-desc-color : $primary-font-color;
//Apply
$apply-radius : 10px;
$apply-border-size : 1px
$apply-border-color : $border-color;
$b-apply-color : $body-background-color;
$apply-start-bg : $apply-color;
$apply-end-bg : lighten($apply-color, 30%);
$apply-size : 14px;
$apply-weight : normal;
$apply-vertical-padding : 5px;
$apply-horizontal-padding :5px;
$apply-decoration : underline;
//ApplyHover
$apply-hover-color : $link-hover-font-color;
$apply-hover-decoration : underline;
$apply-start-hover-bg : lighten($apply-color, 30%);
$apply-end-hover-bg : $apply-color;
