div.list{
    
    .clear{
        clear:both;
    }
    
    div.breacrumb{
        color : $breadcrumb-color;
        font-size : $breadcrumb-size;
        font-weight : $breadcrumb-weight;
        padding : $element-margin;
        background : $breadcrumb-bg;
    }
    ul{
        margin : $ul-margin;
        padding : $ul-padding;
        list-style-type:none;
        
        
        li{
            float : left;
            width : 100%;
            padding : $li-padding;
            margin : $li-margin;
            
            border-bottom : $separation-border-size $separation-border-style $separation-border-color;
            
            h2{
                margin : $job-link-margin;
                padding : 0;
                a{
                    color : $job-link-color;
                    font-size : $job-link-size;
                    font-weight : $job-link-weight;
                    text-decoration : $job-link-decoration;
                }
                a:hover{
                    color : $job-link-hover-color;
                    text-decoration : $job-link-hover-decoration;
                }
            }
            .time{
                margin : $date-margin;
                padding : 0;
                color : $date-color;
                font-size : $date-size;
                font-weight : $date-weight;
                float : left;
                width : 50%;
            }

            span.type{
                margin : $type-margin;
                padding : 0;                
                color : $type-color;
                font-size : $type-size;
                font-weight : $type-weight;
                float : right;
                width : 50%;
                text-align : right;
            }
            .description{
                margin : $jobdesc-margin;
                padding : 0;                
                color : $jobdesc-color;
                font-size : $jobdesc-size;
                font-weight : $jobdesc-weight;
                line-height : $jobdesc-line-height;
            }
            .company{
                margin : $company-margin;
                padding : 0;                
                color : $company-color;
                font-size : $company-size;
                font-weight : $company-weight;
            }
            .location{
                color : $location-color;
                font-size : $location-size;
                font-weight : $location-weight;
                margin : $location-margin;
                padding : 0;                
                
            }
            
        }
        
        
        
    }
    
    
}
p.noresult{
    color : $noResult-color;
    font-size : $noResult-size;
    font-weight : $noResult-weight;
    padding : $noResult-padding-size;
    background-color : $noResult-bg;
}