$element-margin : 10px;


//UL
$ul-margin : 10px 10px 10px 10px;
$ul-padding : 0px 0px 0px 0px;
//LI
$li-padding : 10px 0px 10px 0px;
$li-margin : 0px 0px 0px 0px;
$separation-border-color : $border-color;
$separation-border-size : 1px;
$separation-border-style : solid;

//BreadCrumb
$breadcrumb-color : lighten($link-font-color, 30%);
$breadcrumb-size : 14px;
$breadcrumb-weight : normal;
$breadcrumb-bg : $site-background-color;

//JobLink
$job-link-color : $link-font-color;
$job-link-size : 16px;
$job-link-weight : normal;
$job-link-decoration : none;
$job-link-margin : 0px 0px 5px 0px;
//jobLinkHover
$job-link-hover-color : $link-hover-font-color;
$job-link-hover-decoration : underline;

//Date
$date-color : $link-hover-font-color;
$date-size : 12px;
$date-weight : bold;
$date-margin : 0px 0px 5px 0px;


//Type
$type-color : $primary-font-color;
$type-size : 12px;
$type-weight : bold;
$type-margin : 0px 0px 5px 0px;
//Company
$company-color : $primary-font-color;
$company-weight : bold;
$company-size : 12px;
$company-margin : 0px 0px 5px 0px;

//location
$location-color : $primary-font-color;
$location-size : 12px;
$location-weight : bold;
$location-margin : 0px 0px 5px 0px;

//description
$jobdesc-color : lighten($primary-font-color, 30%);
$jobdesc-size : 12px;
$jobdesc-weight : normal;
$jobdesc-margin : 0px 0px 5px 0px;
$jobdesc-line-height : 150%;

//NoResults
$noResult-color : $primary-font-color;
$noResult-size : 15px;
$noResult-weight : bold;
$noResult-padding-size : 10px;
$noResult-bg : $site-background-color;


