.nb{
    color : $nb-color;
    font-size : $nb-size;
    font-weight : $nb-weight;
    font-style : $nb-style;
    margin-left : $pag-margin-left;
}
.text{
    color : $text-color;
    font-size : $text-size;
    font-weight : $text-weight;
    font-style : $text-style;
    margin-left : $pag-margin-left;
}
.button{
    margin-left : $but-margin-left;
    padding : 5px;
    color : $a-color;
    font-size : $a-size;
    font-weight : $a-weight;
    @include border-radius($a-radius);
    background-color : $a-bg;
    text-decoration : none;
    .arrow{
        color : $arrow-color;
    }
}