//margin
$pag-margin-left : 5px;
$but-margin-left : 20px;
//Nb
$nb-color : $primary-font-color;
$nb-size : 16px;
$nb-weight : bold;
$nb-style : italic;
//Text
$text-color : $link-font-color;
$text-size : 16px;
$text-weight : bold;
$text-style : italic;
//Alink
$a-color : $link-font-color;
$a-size : 14px;
$a-weight : normal;
$a-radius : 5px;;
$a-bg : $input-background-color;
//Arrow
$arrow-color : $primary-font-color;