<center>
    <?
    $pages = '<span class="nb">'.$nbResults.'
    </span>
    <span class="text">
        Results
    </span>';

if(count($links)>1){

            if(isset($links[$currentPage-1])){            
                $pages .= "<a class='button' href='".$links[$currentPage-1]->url."'><span class='arrow'>«</span> PREV</a>";
            }
            $pages.="&nbsp;&nbsp;<span class='text'>Page</span>";
            $pages.="<span class='nb'>".$currentPage."</span>";
            $pages.="<span class='text'>/".$lastPage."</span>";
            
            if(isset($links[$currentPage+1])){
                $pages .= "<a class='button' href='".$links[$currentPage+1]->url."' title='Next' rel='nofollow' >NEXT <span class='arrow'>»</span></a>";
            }
            
    echo $pages;
}
?>

</center>