<div class='element-a' >
<div class='label_I ' >
<div class='st-img'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(29);?>
</div>
</div>
<div class='label_H ' >
<div class='search'  style='float:left;margin-top:50px;width:100%' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(33);?>
</div>
</div>
</div>
<div class='element-a' >
<div class='label_B ' >
<div class='data-search'  style='float:left;margin-top:40px;width:100%' >
<?\JOBSEARCH\WIDGET\searchResult::RENDER(32);?>
</div>
<center><div class='more'  style='float:center;margin-top:20px;width:100%' >
<?\JOBSEARCH\WIDGET\pagination::RENDER(34);?>
</div>
</center></div>
</div>
<div class='element-a' >
<div class='label_B ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
