<div class='element-a' >
<div class='label_I ' >
<div class='st-img'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(31);?>
</div>
</div>
<div class='label_H ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
<div class='element-a' >
<div class='label_B ' >
<div class='search'  style='float:left;margin-top:80px;padding-left:20px;padding-right:20px;width:100%' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(38);?>
</div>
</div>
</div>
<div class='element-a' >
<div class='label_B ' >
<div class='st-img'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(39);?>
</div>
</div>
</div>
