<div class='element-a' >
<div class='label_I ' >
<div class='st-img'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(30);?>
</div>
</div>
<div class='label_H ' >
<div class='search'  style='float:left;margin-top:50px;width:100%' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(35);?>
</div>
</div>
</div>
<div class='element-a' >
<div class='label_I ' >
<div class='jobData'  style='float:left;margin-top:50px;padding-bottom:20px;width:100%' >
<?\JOBSEARCH\WIDGET\jobSide::RENDER(36);?>
</div>
</div>
<div class='label_H ' >
<div class='details-job'  style='float:left;margin-top:45px;width:100%' >
<?\JOBSEARCH\WIDGET\jobDetails::RENDER(37);?>
</div>
</div>
</div>
<div class='element-a' >
<div class='label_B ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
