div{
    float : left;
    width : 100%;
    padding : 5px;
    background-color : $line-bg;
    border-bottom-size : $line-bottom-border-size;
    border-bottom-color : $line-bottom-border-color;
    border-bottom-style : $line-bottom-border-style;

    a{
        color : $back-color;
        font-size : $back-size;
        font-weight : $back-weight;
        text-decoration : $back-decoration;
    }
    a.hover{
        color : $back-hover-color;
        text-decoration : $back-hover-decoration;
    }
}
