//linkStyle
$back-color : $link-font-color;
$back-size : 12px;
$back-weight : normal;
$back-decoration : none;
//LinkHover
$back-hover-color : $link-hover-font-color;
$back-hover-decoration : underline;
//LineColors
$line-bg : $site-background-color;
$line-bottom-border-size : 1px;
$line-bottom-border-color : $border-color;
$line-bottom-border-style : solid;