<?if($backUrl!=false){?>
<div>

    <a href="<?=$backUrl;?>">
        <?if($iconSrc!=false && $iconPosition=="left"){?>
        <img src="<?=$iconSrc;?>" width="<?=$iconWidth;?>" height="<?=$iconHeight;?>" />
        <?}?>

        <?=$linkText;?>

        <?if($iconSrc!=false && $iconPosition=="right"){?>
        <img src="<?=$iconSrc;?>" width="<?=$iconWidth;?>" height="<?=$iconHeight;?>" />
        <?}?>
    </a>

</div>
<?}?>