
ul{
    overflow: hidden;
    width: 100%;
    li{
        float: left;
        margin: 0 0.5*$breadcrumb-margin 0 $breadcrumb-margin;
    }
    a,span{

        padding: 0.7*$breadcrumb-margin $breadcrumb-margin;
        float: left;
        text-decoration: $breadcrumb-decoration;
        color: $breadcrumb-link-color;
        font-size : $breadcrumb-size;
        position: relative;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
        background-color: $breadcrumb-background-color;
    }
    span{
        color : $breacrumb-text-color;
        text-decoration : $breadcrumb-decoration;
    }
    a:hover{
        color: $breadcrumb-link-hover-color;
        text-decoration: $breadcrumb-hover-decoration;
        background: $breadcrumb-hover-background-color;
    }
    a::after,a::before{
        content: "";
        position: absolute;
        top: 0;
        bottom : 0;
        width : $breadcrumb-margin;
        background : $breadcrumb-background-color;
        @include skew(-10deg);
    }
    a::before{
        border-radius: $breadcrumb-radius;
        left : -0.5*$breadcrumb-margin;
    }
    a:hover::before{
        background: $breadcrumb-hover-background-color;
    }
    a::after{
        right : -0.5*$breadcrumb-margin;
        border-radius : 0 $breadcrumb-radius $breadcrumb-radius 0;
    }
    a:hover::after{
        background: $breadcrumb-hover-background-color;
    }

    .current,.current:hover{
        font-weight: bold;
        background: none;
    }

    .current::after,.current::before{
        content: normal;
    }


}