//breadcrumBG
$breadcrumb-background-color : $panel-background-color;
$breadcrumb-hover-background-color : lighten($link-font-color, 50%);
//Link
$breadcrumb-decoration : underline;
$breadcrumb-link-color : $link-font-color;
$breadcrumb-size : 12px;
//LinkHover
$breadcrumb-hover-decoration : underline;
$breadcrumb-link-hover-color : $link-hover-font-color;
//Dimensions
$breadcrumb-radius : 5px;
$breadcrumb-margin : 8px;
//text
$breacrumb-text-color : $primary-font-color;




