//withouthLocation
.item_2{
    font-size : $title-size;
    color : $title-color;
    font-weight : $title-weight;
    float : left;
    width : 70%;
    margin-right : 20px;
    .inputSearch{

        border-color : $input-border-color;
        border-width : $input-border-size;
        @include border-radius($input-radius);
        background-color : $input-bg;
        color : $input-color;
        font-size : $input-size;
        font-weight : $input-weight;
        padding : $input-padding;
        width : 100%;
        margin-top : $input-margin-top;
    }
}
//withLocation
.item_1{
    font-size : $title-size;
    color : $title-color;
    font-weight : $title-weight;
    float : left;
    width : 35%;
    margin-right : 20px;
    .inputSearch{
        border-color : $input-border-color;
        border-width : $input-border-size;
        @include border-radius($input-radius);
        background-color : $input-bg;
        color : $input-color;
        font-size : $input-size;
        font-weight : $input-weight;
        padding : $input-padding;
        width : 100%;
        margin-top : $input-margin-top;
    }
}
//applyButton
.btn{
    float : left;
    width : 17%;
    margin-top : $button-margin-top;
    button{

        img{
            width : $icon-width;
            height : $icon-height;
        }
        width : 100%;
        border-width : $button-border-size;
        border-color : $button-border-color;
        text-decoration : $button-decoration;
        color : $button-color;
        font-size : $button-size;
        font-weight : $button-weight;
        @include gradient-vertical($button-start-bg, $button-end-bg);
        padding-top : $button-padding;
        padding-bottom : $button-padding;
        padding-left : $button-padding;
        padding-right : $button-padding;
        @include border-radius($button-radius);
    }
    button:hover{
        text-decoration : $button-hover-decoration;
        color : $button-hover-color;
        @include gradient-vertical($button-start-hover-bg, $button-end-hover-bg);
    }

}

.twitter-typeahead{
    width : 100%;
}
.typeahead,
.tt-query,
.tt-hint {

    border-color : $input-border-color;
    border-size : $input-border-size;
    @include border-radius($input-radius);
    background-color : $input-bg;
    color : $input-color;
    font-size : $input-size;
    font-weight : $input-weight;
    padding : $input-padding;
    margin-top : $input-margin-top;
    width : 100% !important;
    outline: none;
}

.typeahead {
    background-color : $input-bg;
}

.typeahead:focus {
    //    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: $dropdown-width;
    margin-top: 0px;
    padding: 0px;
    background-color : $dropdown-bg;

    border-top: $dropdown-border-top-size  solid $dropdown-border-color;
    border-left: $dropdown-border-left-size  solid $dropdown-border-color;
    border-right: $dropdown-border-right-size  solid $dropdown-border-color;
    border-bottom: $dropdown-border-bottom-size  solid $dropdown-border-color;

    @include border-top-radius($dropdown-top-radius);
    @include border-bottom-radius($dropdown-bottom-radius);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    color : $suggestion-color;
    font-size : $suggestion-size;
    font-weight : $suggestion-weight;
    padding : $suggestion-padding-size;
    margin-top : $suggestion-margin-top;
    @include border-radius($suggestion-radius);
    border-top: $suggestion-border-top-size  solid $suggestion-border-color;
    border-left: $suggestion-border-left-size  solid $suggestion-border-color;
    border-right: $suggestion-border-right-size  solid $suggestion-border-color;
    border-bottom: $suggestion-border-bottom-size  solid $suggestion-border-color;
    line-height : 120%;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}
