<div class='div' >
<div class='column_D ' >
<div class='im'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(117);?>
</div>
</div>
<div class='column_A ' >
<div class='local search-form'  style='float:left;margin-left:-10px;width:100%' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(115);?>
</div>
</div>
</div>
<div class='div' >
<div class='column_R ' >
<div class='data-refine'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\refine::RENDER(108);?>
</div>
</div>
<div class='column_Z ' >
<div class='result-search'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\searchResult::RENDER(110);?>
</div>
</div>
</div>
