<div class='div' >
<div class='column_D ' >
<div class='im'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(116);?>
</div>
</div>
<div class='column_A ' >
<div class='local search-form'  style='float:left;margin-left:-10px;width:100%' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(99);?>
</div>
</div>
</div>
<div class='div' >
<div class='column_H ' >
<div class='job-recent'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\latestJobs::RENDER(102);?>
</div>
</div>
<div class='column_I ' >
<div class='im'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(103);?>
</div>
</div>
</div>
<div class='div' >
<div class='column_B ' >
<div class='Informations'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\freeText::RENDER(118);?>
</div>
</div>
</div>
