$element-margin : 10px;
//table
$table-even-bg : $apply-color;
$table-odd-bg : lighten($apply-color, 40%);
//jobLink
$job-link-color : $link-font-color;
$job-link-size : 16px;
$job-link-weight : normal;
$job-link-decoration : none;
//jobLinkHover
$job-link-hover-color : $link-hover-font-color;
$job-link-hover-decoration : underline;
//Date
$date-color : $link-hover-font-color;
$date-size : 12px;
$date-weight : bold;
//EmploymentType
$type-color : $primary-font-color;
$type-size : 12px;
$type-weight : bold;
//Infos
$infos-color : $primary-font-color;
$infos-weight : bold;
$infos-size : 12px;
//Location
$location-color : $primary-font-color;
$location-size : 12px;
$location-weight : bold;
//Description
$jobdesc-color : lighten($primary-font-color, 30%);
$jobdesc-size : 12px;
$jobdesc-weight : normal;
$jobdesc-line-height : 120%;
//NoResults
$noResult-color : $primary-font-color;
$noResult-size : 15px;
$noResult-weight : bold;
$noResult-padding-size : 10px;
$noResult-bg : $site-background-color;
