h1{
    color : $job-title-color;
    font-size : $job-title-size;
    font-weight : $job-title-weight

}
hr.hr1{
    color: $bartop-bg;
    background-color: $bartop-bg;
    height: $bartop-height;
    border : 0px;
}
hr.hr2{
    color: $bar-bg;
    background-color: $bar-bg;
    height: $bar-height;
    border : 0px;
}
h2{
    color : $company-color;
    font-size : $company-size;
    font-weight : $company-weight;
}
.title{
    color : $subtitle-color;
    font-size : $subtitle-size;
    font-weight : $subtitle-weight;
}
.key{
    color : $key-color;
    font-size : $key-size;
    font-weight : $key-weight;
    padding-top : $keyValue-padding-top;
    float : left;
}
.value{
    color : $value-color;
    font-size : $value-size;
    font-weight : $value-weight;
    padding-top : $keyValue-padding-top;
    float : left;
}
.jobDescription{
    color : $description-color;
    font-size : $description-size;
    font-weight : $description-weight;
    line-height : $description-line-height;
}

a{
    @include border-radius( $apply-radius );
    border : $apply-border-size solid $apply-border-color;
    color : $a-apply-color;
    @include gradient-vertical($apply-start-bg, $apply-end-bg);
    font-size: $apply-size;
    font-weight : $apply-weight;
    padding : $apply-vertical-padding $apply-horizontal-padding ;
    text-decoration : $apply-decoration;
}
a:hover{
    color : $apply-hover-color;
    @include gradient-vertical($apply-start-hover-bg, $apply-end-hover-bg);
    text-decoration : $apply-hover-decoration;
}
