//jobTitle
$job-title-color : $primary-font-color;;
$job-title-size : 20px;;
$job-title-weight : normal;
//Bar1
$bartop-bg : $border-color;
$bartop-height : 2px;;
//Bar2
$bar-bg : lighten($border-color, 20%);
$bar-height : 2px;
//Company
$company-color: $primary-font-color;
$company-size : 16px;
$company-weight : normal;
//SubTitle
$subtitle-color : $link-font-color;
$subtitle-size : 14px;
$subtitle-weight : bold;
//Key
$key-color : $link-font-color;;
$key-size : 13px;
$key-weight : bold;
$keyValue-padding-top : 5px;
//Value
$value-color : $link-font-color;
$value-size : 13px;
$value-weight : normal;
//Description
$description-color : $primary-font-color;
$description-size : 14px;
$description-weight : normal;
$description-line-height : 130%;
//Apply
$apply-radius : 10px;
$apply-border-size : 1px
$apply-border-color : $border-color;
$a-apply-color : $apply-color;
$apply-start-bg : $site-background-color;
$apply-end-bg : $site-background-color;
$apply-size : 14px;
$apply-weight : normal;
$apply-vertical-padding : 5px;
$apply-horizontal-padding :5px;
$apply-decoration : underline;
//ApplyHover
$apply-hover-color : darken($apply-color, 30%);
$apply-hover-decoration : underline;
$apply-start-hover-bg : $site-background-color;
$apply-end-hover-bg : $site-background-color;


