
h1{
    text-align : $job-title-align;
    font-size : $job-title-size;
    font-weight : $job-title-weight;
    color : $job-title-color;
}

div{
    color : $job-desc-color;
    font-size : $job-desc-size;
    font-weight : $job-desc-weight;
    line-height : $description-line-height;
    text-align : justify;
}



button{
    @include border-radius( $apply-radius );
    border : $apply-border-size solid $apply-border-color;
    color : $b-apply-color;
    @include gradient-vertical($apply-start-bg, $apply-end-bg);
    font-size: $apply-size;
    font-weight : $apply-weight;
    padding : $apply-vertical-padding $apply-horizontal-padding ;
    text-decoration : $apply-decoration;
}
button:hover{
    color : $apply-hover-color;
    @include gradient-vertical($apply-start-hover-bg, $apply-end-hover-bg);
    text-decoration : $apply-hover-decoration;
}