//jobTitle
$job-title-align : center;
$job-title-size : 18px;
$job-title-weight : bold;
$job-title-color : $primary-font-color;
//Description
$job-desc-color : $primary-font-color;
$job-desc-size : 14px;
$job-desc-weight : normal;
$description-line-height : 150%;
//Apply
$apply-radius : 10px;
$apply-border-size : 1px
$apply-border-color : $border-color;
$b-apply-color : $site-background-color;
$apply-start-bg : $apply-color;
$apply-end-bg : lighten($apply-color, 30%);
$apply-size : 16px;
$apply-weight : bold;
$apply-vertical-padding : 5px;
$apply-horizontal-padding :5px;
$apply-decoration : none;
//ApplyHover
$apply-hover-color : lighten($apply-color, 40%);
$apply-hover-decoration : underline;
$apply-start-hover-bg : lighten($apply-color, 30%);
$apply-end-hover-bg : $apply-color;