<h1><?=$job->getTitle();?></h1>
<br />
<div >
    <?= $job->getDescription(); ?>
</div>
<br /><br />
<form action="<?=$job->getRedirectURL()->url;?>" method="get" target="<?=$target;?>">
    <center>
        <button type="submit"><?=$applyText;?></button>
    </center>
</form>
