dd {
    display: inline;
    margin-left: 0;
    margin-bottom: 0;  
}
dd a{
    color : $page-color;
    background-color : $page-bg;
    text-decoration : $page-decoration;
    font-size : $page-size;
    padding : $page-padding;
}
dd a:hover{
    color : $page-hover-color;
    background-color : $page-hover-bg;
    text-decoration : $page-hover-decoration;    
}

dd.active  a{
    color : $page-active-color;
    background-color : $page-active-bg;
    text-decoration : $page-active-decoration;    
}