//Colors
$page-color : $link-font-color;
$page-bg : lighten($link-font-color, 60%);
$page-hover-color : $link-font-color;
$page-hover-bg : lighten($link-font-color, 60%);
$page-active-color : lighten($link-font-color, 60%);
$page-active-bg :  $link-font-color;;
//Style
$page-decoration : none;
$page-size : 14px;
$page-padding : 3px;
//Hover
$page-hover-decoration : underline;    
//Active
$page-active-decoration : none;    