<?
if(count($links)>1){    
?>
    <div>
        <dl>        
            <?
            $pages ="";        
            foreach($links as $page=>$link){
                if( $currentPage == $page){            
                    $class = "active";                
                }
                else{
                    $class = "";
                }
                $pageNb = $page;        

                $pages.="<dd class='".$class."'><a href='".$link->url."' title='".$pageNb."' rel='nofollow' >".$pageNb."</a></dd>";



            }

            if(isset($links[$currentPage-1])){            
                    $pages = "<dd><a href='".$links[$currentPage-1]->url."'>◂ Previous</a></dd>" . $pages;
            }

            if(isset($links[$currentPage+1])){
                $pages .= "<dd><a href='".$links[$currentPage+1]->url."' title='Next' rel='nofollow' >Next ▸</a></dd>";

            }

            echo $pages;        
            ?>        
        </dl>
    </div>
<?}?>