h1{
    font-size : $job-title-size;
    font-weight : $job-title-weight;
    background-color : $job-title-bg;
    color : $job-title-color;
    padding : 5px;
}
.about{
    color : $about-color;
    font-size : $about-size;
}
button{
    float : right;
    @include border-radius( $apply-radius );
    border : $apply-border-size solid $apply-border-color;
    color : $b-apply-color;
    @include gradient-vertical($apply-start-bg, $apply-end-bg);
    font-size: $apply-size;
    font-weight : $apply-weight;
    padding : $apply-vertical-padding $apply-horizontal-padding ;
    text-decoration : $apply-decoration;
}
button:hover{
    color : $apply-hover-color;
    @include gradient-vertical($apply-start-hover-bg, $apply-end-hover-bg);
    text-decoration : $apply-hover-decoration;
}


.description{
    font-size : $description-size;
    text-align : justify;
    color : $description-color;
    line-height: $description-line-height;
}

.bottombar{
    position : fixed;
    bottom : 0px;
    left : 0px;
    width : 100%;

    height : $bottombar-height;
    background-color : $bottombar-bg;
    @include border-top-left-radius($bottombar-radius);
    @include border-top-right-radius($bottombar-radius);

    button{
        margin-top : -10px;
    }

}