//jobTitle
$job-title-size : 16px;
$job-title-weight : bold;
$job-title-bg : $body-background-color;
$job-title-color : $primary-font-color;
//About
$about-color : $primary-font-color;
$about-size : 14px;
//Description
$description-size : 14px;
$description-color : $primary-font-color;
$description-line-height : 150%;
//Apply
$apply-radius : 10px;
$apply-border-size : 1px
$apply-border-color : $border-color;
$b-apply-color : $site-background-color;
$apply-start-bg : $apply-color;
$apply-end-bg : lighten($apply-color, 30%);
$apply-size : 14px;
$apply-weight : bold;
$apply-vertical-padding : 5px;
$apply-horizontal-padding :10px;
$apply-decoration : none;
//ApplyHover
$apply-hover-decoration : none;
$apply-hover-color : $site-background-color;
$apply-start-hover-bg : lighten($apply-color, 30%);
$apply-end-hover-bg : $apply-color;
//BottomBar
$bottombar-height : 35px;
$bottombar-bg : $input-background-color;
$bottombar-radius : 10px;