<h1><?=$job->getTitle();?></h1>
<span class="about"><?=$descriptionText;?></span>
<form action="<?=$job->getHTTPREF();?>" method="get" target="<?=$target;?>">
    <center>
        <button type="submit"><?=$applyText;?></button>
    </center>
</form>
<div style="clear:both"></div>
<br />
<div class="description">
    <?=$job->getDescription();?>
</div>
<br />
<form action="<?=$job->getHTTPREF();?>" method="get" target="<?=$target;?>">
    <center>
        <button type="submit"><?=$applyText;?></button>
    </center>
</form>
    

<div class="bottombar">
    <form action="<?=$job->getRedirectURL()->url;?>" method="get" target="<?=$target;?>">
        <center>
            <button type="submit"><?=$applyText;?></button>
        </center>
    </form>
</div>