//title
$title-size : 16px;
$title-color : $primary-font-color;
$title-weight : bold;
$title-padding : 0px 0px 0px 0px;
//subtitle
$subtitle-size : 14px;
$subtitle-color  : $primary-font-color;
$subtitle-weight : bold;
$subtitle-padding : 0px 0px 0px 0px;
$subtitle-margin : 0px 0px 0px 0px;
//input
$input-border-color : $border-color;
$input-border-size : 1px;
$input-radius : 2px;
$input-bg : $input-background-color;
$input-color : $primary-font-color;
$input-size : 14px;
$input-weight : normal;
$input-padding : 5px 5px 5px 5px;
$input-margin : 20px 0px 0px 0px;
//button
//searchButton
$icon-width : 30px;
$icon-height : 30px;
$button-decoration : none;
$button-color : $link-font-color;
$button-size:18px;
$button-weight:bold;
$button-start-bg:lighten($site-background-color, 20%);
$button-end-bg:$site-background-color;
$button-hover-decoration:none;
$button-hover-color: $link-hover-font-color;
$button-start-hover-bg:lighten($site-background-color, 30%);
$button-end-hover-bg:lighten($site-background-color, 10%);
$button-radius : 5px;
$button-padding : 5px 10px 5px 10px;
$button-margin : 5px 40px 5px 0px;
$button-border-size : 1px;
$button-border-color: $border-color;

//dropdown
$dropdown-width : 250px;
$dropdown-border-top-size : 1px;
$dropdown-border-left-size : 1px;
$dropdown-border-right-size : 1px;
$dropdown-border-bottom-size : 1px;
$dropdown-border-color : $border-color;
$dropdown-bg: $input-background-color;
$dropdown-top-radius : 0px;
$dropdown-bottom-radius : 10px;
//suggestion
$suggestion-color: lighten($input-font-color, 30%);
$suggestion-size : 12px;
$suggestion-weight : normal;
$suggestion-padding-size : 5px;
$suggestion-margin-top : 0px;
$suggestion-radius : 0px;
$suggestion-border-color : $border-color;
$suggestion-border-top-size : 1px;
$suggestion-border-left-size : 0px;
$suggestion-border-right-size : 0px;
$suggestion-border-bottom-size : 0px;