<script type="text/javascript" src="/assets/extjs/jquery.js?v=1196492704"></script>
<script type="text/javascript" src="/assets/extjs/autocomplete.js?v=698272973"></script>
<script type="text/javascript" src="/assets/extjs/hogan.js?v=1878620163"></script>
<script type="text/javascript" charset="utf-8">var uID=11;</script>