<div class='advanced-3' >
<div class='blok-A ' >
<div class='ima'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(158);?>
</div>
</div>
<div class='blok-D ' >
<div class='search-panel'  style='width:100%;float:left;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;border-right: 2px solid #9e9389;border-bottom: 2px solid #9e9389;border-left: 2px solid #9e9389;-webkit-border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;background-color:#edf0f0' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(160);?>
</div>
</div>
</div>
<div class='advanced-3' >
<div class='blok-B ' >
<div class='list-job'  style='width:100%;float:left;margin-top:10px' >
<?\JOBSEARCH\WIDGET\searchResult::RENDER(129);?>
</div>
</div>
</div>
<div class='advanced-3' >
<div class='blok-B ' >
<div class='pa-st'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\pagination::RENDER(130);?>
</div>
</div>
</div>
