<div class='advanced-3' >
<div class='blok-A ' >
<div class='ima'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(131);?>
</div>
</div>
<div class='blok-D ' >
<div class='search-panel'  style='width:100%;float:left;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;border-right: 2px solid #9e9389;border-bottom: 2px solid #9e9389;border-left: 2px solid #9e9389;-webkit-border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;background-color:#edf0f0' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(132);?>
</div>
</div>
</div>
<div class='advanced-3' >
<div class='blok-B ' >
<div class='BackToSearch'  style='width:100%;float:left;padding-right:20px;padding-bottom:20px' >
<?\JOBSEARCH\WIDGET\backSearchResultsLink::RENDER(161);?>
</div>
<div class='jobData'  style='width:100%;float:left;margin-top:20px' >
<?\JOBSEARCH\WIDGET\jobDetails::RENDER(133);?>
</div>
</div>
</div>
