<div class='advanced-3' >
<div class='blok-S ' >
<div class='ima'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(165);?>
</div>
</div>
<div class='blok-S ' >
<div class='search-panel'  style='width:100%;float:left;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;border-right: 2px solid #eae7e1;border-bottom: 2px solid #eae7e1;border-left: 2px solid #eae7e1;-webkit-border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;border-radius: 5px 5px 5px 5px;background-color:#d1c4ad' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(164);?>
</div>
</div>
</div>
<div class='advanced-3' >
<div class='blok-B ' >
<div class='paragraph'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\freeText::RENDER(166);?>
</div>
</div>
</div>
