
ul {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    @include border-radius($pagination-border-radius);
    @include box-shadow(0 1px 2px rgba(0,0,0,.05));
}

// Remove list-style and block-level defaults
ul > li {
    display: inline;
}
ul > li > a,
ul > li > span {
    // Collapse white-space
    float: left;
    padding: 4px 12px;
    line-height: $pbase-line-height;
    text-decoration: none;
    background-color: $pagination-bg;
    color : $text-color;
    border-width: $pagination-border-width;
    border-style : $pagination-border-style;
    border-color : $pagination-border-color;
    border-left-width: 0;
}
ul > li > a:hover,
ul > li > a:focus,
ul > .active > a,
ul > .active > span {
    background-color: $pagination-active-bg;
    color : $text-hover-color;
}
ul > .active > a,
ul > .active > span {
    color: $text-active-color;
    cursor: default;
}
ul > .disabled > span,
ul > .disabled > a,
ul > .disabled > a:hover,
ul > .disabled > a:focus {
    color: $text-active-color;
    background-color: transparent;
    cursor: default;
}
ul > li:first-child > a,
ul > li:first-child > span {
    border-left-width: 1px;
    @include border-left-radius($pagination-border-radius);
}
ul > li:last-child > a,
ul > li:last-child > span {
    @include border-right-radius($pagination-border-radius);
}

// Alignment
.pagination-centered {
    text-align: center;
}
.pagination-right {
    text-align: right;
}

