//dimension
$pbase-line-height : 100%;
//border
$pagination-border-radius : 5px;
$pagination-border-width : 1px;
$pagination-border-style : solid;
$pagination-border-color : $border-color;
//colors
$pagination-bg : $site-background-color;
$pagination-active-bg : lighten($site-background-color, 30%);
$text-active-color : $primary-font-color;
$text-color : $link-font-color;
$text-hover-color : $link-font-color;