
<?
if(count($links)>1){
?>

<ul>
    <?

    $pages ="";

    foreach($links as $page=>$link){

        if( $currentPage == $page){
            $class = "active";
        }
        else{
            $class = "";
        }

        $pageNb = $page;

        if($pageNb < 100){
            $pages .= "<li class='$class' ><a href='".$link->url."' title='$pageNb' rel='nofollow' >$pageNb</a></li>\n";
        }

    }
    echo $pages;
    ?>
</ul>    
<?
}
?>
