<div class='row_n' >
<div class='label-24 ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
<div class='row_n' >
<div class='label-8 ' >
<div class='data-refine'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\refine::RENDER(88);?>
</div>
</div>
<div class='label-16 ' >
<div class='job-resultset'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchResult::RENDER(89);?>
</div>
<div class='more-pages'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\pagination::RENDER(90);?>
</div>
</div>
</div>
<div class='row_n' >
<div class='label-24 ' >
<div class='search-jobs'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(91);?>
</div>
</div>
</div>
