<div class='row_n' >
<div class='label-24 ' >
<div class='im'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(122);?>
</div>
</div>
</div>
<div class='row_n' >
<div class='label-24 ' >
<div class='search-jobs'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(92);?>
</div>
<div class='lastJobs'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\latestJobs::RENDER(123);?>
</div>
</div>
</div>
