<div class='row_n' >
<div class='label-24 ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
<div class='row_n' >
<div class='label-24 ' >
<div class='jobData'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\jobDetails::RENDER(93);?>
</div>
</div>
</div>
<div class='row_n' >
<div class='label-24 ' >
<div class='search-jobs'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(94);?>
</div>
</div>
</div>
