ul{
        li{
            margin-top : $line-margin-top;
        }
    a{
        color : $rlink-color;
        font-size : $rlink-size;
        font-weight : $rlink-weight;
        text-decoration : $rlink-decoration;
    }
    a:hover{
        color : $rlink-hover-color;
        text-decoration : $rlink-hover-decoration;
    }
    .number{
        color : $number-color;
        font-size : $number-size;
        font-weight : $number-weight;
        text-decoration : $number-decoration;
    }
    list-style-type : none;
    padding-left : 0px;
    margin-left : 0px;
}
.refineTitle{
    font-weight : $rfont-weight;
    color : $rfont-color;
    font-size : $title-font-size;
}
hr{
    color: $bar-bg;
    background-color: $bar-bg;
    height: $bar-height;
    border : 0px;
}