//link
$rlink-color : $link-font-color;
$rlink-size : 14px;
$rlink-weight : normal;
$rlink-decoration: none;
$line-margin-top : 5px;
//linkHover
$rlink-hover-color : $link-hover-font-color;
$rlink-hover-decoration : underline;
//title
$rfont-weight : bold;
$rfont-color : $link-font-color;
$title-font-size : 14px;
//number
$number-color : $primary-font-color;
$number-size : 14px;
$number-weight : normal;
$number-decoration : none;
//separation
$bar-bg : $border-color;
$bar-height : 1px;