.sidejob{
    width : 100%;
    @include gradient-horizontal($gradient-start-color, $gradient-end-color);
    float : left;
    @include border-radius($jobsummary-radius);
    padding : 10px;
    .bar{
        color: $bar-bg;
        background-color: $bar-bg;
        height: 1px;
        border : 0px;
    }
    .header{
        color : $job-title-bg;
        font-size : $header-font-size;            
    }
    .key{
        color : $key-color;
        font-size : $key-size;            
        font-weight : $key-weight;
    }
    .value{
        color : $value-color;
        font-size : $value-size;            
        font-weight : $value-weight;
    }
    
}