//gradientBG
$gradient-start-color : $input-background-color;
$gradient-end-color : lighten($input-background-color, 30%);
//Bar
$bar-bg : $border-color;
//Text
$jobsummary-radius : 10px;
$job-title-bg : $site-background-color;
$header-font-size : 14px;
//Key
$key-color : $primary-font-color;
$key-size : 12px;
$key-weight : bold;
//Value
$value-color : $primary-font-color;
$value-size : 12px;
$value-weight : normal;
