<div class="sidejob">
    <span class="header"><?=$titleText;?></span>
    <hr class="bar"/>
    <span class="key"><?=$locationText;?></span><br />
    <span class="value"><?=$job->location[0]->lastName;?></span><br />
    <br />
    <span class="key"><?=$employmentTypeText;?></span><br />
    <span class="value"><?=$job->employmentType[0]->lastName;?></span><br />
    <br />
    <span class="key"><?$industryText;?></span><br />
    <span class="value"><?=$job->industry[0]->lastName;?></span><br />
    
</div>