/* line 241, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 246, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 249, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 262, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 265, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
a:focus {
  outline: none;
}

/* line 270, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 273, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
object,
embed {
  height: 100%;
}

/* line 274, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 280, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 285, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.left {
  float: left !important;
}

/* line 286, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.right {
  float: right !important;
}

/* line 287, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 288, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 289, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 290, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 291, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.hide {
  display: none;
}

/* line 297, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 300, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 310, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 313, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
select {
  width: 100%;
}

/* Grid HTML Classes */
/* line 116, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1;
}
/* line 121, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 122, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.row:after {
  clear: both;
}
/* line 121, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
.row.collapse .column,
.row.collapse .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
/* line 124, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
/* line 121, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
/* line 122, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.row .row:after {
  clear: both;
}
/* line 125, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}
/* line 121, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
/* line 122, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
.row .row.collapse:after {
  clear: both;
}

/* line 130, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
.column,
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

@media only screen {
  /* line 135, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  /* line 138, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 138, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 138, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-3 {
    position: relative;
    width: 25%;
  }

  /* line 138, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 138, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 138, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-6 {
    position: relative;
    width: 50%;
  }

  /* line 138, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 138, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 138, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-9 {
    position: relative;
    width: 75%;
  }

  /* line 138, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 138, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 138, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-12 {
    position: relative;
    width: 100%;
  }

  /* line 142, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 142, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 142, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 142, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 142, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 142, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 142, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 142, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 142, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 142, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 142, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .small-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 145, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  /* line 146, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  [class*="column"] + [class*="column"].end {
    float: left;
  }

  /* line 149, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
}
/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 768px) {
  /* line 156, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .large-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 156, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .large-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 156, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .large-3 {
    position: relative;
    width: 25%;
  }

  /* line 156, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .large-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 156, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .large-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 156, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .large-6 {
    position: relative;
    width: 50%;
  }

  /* line 156, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .large-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 156, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .large-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 156, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .large-9 {
    position: relative;
    width: 75%;
  }

  /* line 156, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .large-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 156, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .large-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 156, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .large-12 {
    position: relative;
    width: 100%;
  }

  /* line 160, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .row .large-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 160, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 160, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 160, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .row .large-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 160, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 160, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 160, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .row .large-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 160, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 160, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 160, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .row .large-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 160, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 160, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .row .large-offset-11 {
    position: relative;
    margin-left: 91.66667%;
  }

  /* line 164, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 165, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 164, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 165, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 164, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 165, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 164, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 165, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 164, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 165, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 164, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 165, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 164, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 165, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 164, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 165, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 164, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 165, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 164, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 165, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 164, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 165, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 169, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  /* line 172, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  /* line 179, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_grid.scss */
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important;
  }
}
/* Foundation Visibility HTML Classes */
/* line 11, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.show-for-small,
.show-for-medium-down,
.show-for-large-down {
  display: inherit !important;
}

/* line 17, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.show-for-medium,
.show-for-medium-up,
.show-for-large,
.show-for-large-up,
.show-for-xlarge {
  display: none !important;
}

/* line 23, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.hide-for-medium,
.hide-for-medium-up,
.hide-for-large,
.hide-for-large-up,
.hide-for-xlarge {
  display: inherit !important;
}

/* line 27, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.hide-for-small,
.hide-for-medium-down,
.hide-for-large-down {
  display: none !important;
}

/* Specific visilbity for tables */
/* line 38, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
table.show-for-small, table.show-for-medium-down, table.show-for-large-down, table.hide-for-medium, table.hide-for-medium-up, table.hide-for-large, table.hide-for-large-up, table.hide-for-xlarge {
  display: table;
}

/* line 48, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
thead.show-for-small, thead.show-for-medium-down, thead.show-for-large-down, thead.hide-for-medium, thead.hide-for-medium-up, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-xlarge {
  display: table-header-group !important;
}

/* line 58, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
tbody.show-for-small, tbody.show-for-medium-down, tbody.show-for-large-down, tbody.hide-for-medium, tbody.hide-for-medium-up, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-xlarge {
  display: table-row-group !important;
}

/* line 68, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
tr.show-for-small, tr.show-for-medium-down, tr.show-for-large-down, tr.hide-for-medium, tr.hide-for-medium-up, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-xlarge {
  display: table-row !important;
}

/* line 79, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
td.show-for-small, td.show-for-medium-down, td.show-for-large-down, td.hide-for-medium, td.hide-for-medium-up, td.hide-for-large, td.hide-for-large-up, td.hide-for-xlarge,
th.show-for-small,
th.show-for-medium-down,
th.show-for-large-down,
th.hide-for-medium,
th.hide-for-medium-up,
th.hide-for-large,
th.hide-for-large-up,
th.hide-for-xlarge {
  display: table-cell !important;
}

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 768px) {
  /* line 85, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .show-for-medium,
  .show-for-medium-up {
    display: inherit !important;
  }

  /* line 87, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .show-for-small {
    display: none !important;
  }

  /* line 89, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .hide-for-small {
    display: inherit !important;
  }

  /* line 92, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .hide-for-medium,
  .hide-for-medium-up {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 98, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  table.show-for-medium, table.show-for-medium-up, table.hide-for-small {
    display: table;
  }

  /* line 103, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  thead.show-for-medium, thead.show-for-medium-up, thead.hide-for-small {
    display: table-header-group !important;
  }

  /* line 108, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  tbody.show-for-medium, tbody.show-for-medium-up, tbody.hide-for-small {
    display: table-row-group !important;
  }

  /* line 113, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  tr.show-for-medium, tr.show-for-medium-up, tr.hide-for-small {
    display: table-row !important;
  }

  /* line 119, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  td.show-for-medium, td.show-for-medium-up, td.hide-for-small,
  th.show-for-medium,
  th.show-for-medium-up,
  th.hide-for-small {
    display: table-cell !important;
  }
}
/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 1280px) {
  /* line 126, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .show-for-large,
  .show-for-large-up {
    display: inherit !important;
  }

  /* line 129, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .show-for-medium,
  .show-for-medium-down {
    display: none !important;
  }

  /* line 132, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .hide-for-medium,
  .hide-for-medium-down {
    display: inherit !important;
  }

  /* line 135, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .hide-for-large,
  .hide-for-large-up {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 142, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  table.show-for-large, table.show-for-large-up, table.hide-for-medium, table.hide-for-medium-down {
    display: table;
  }

  /* line 148, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  thead.show-for-large, thead.show-for-large-up, thead.hide-for-medium, thead.hide-for-medium-down {
    display: table-header-group !important;
  }

  /* line 154, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  tbody.show-for-large, tbody.show-for-large-up, tbody.hide-for-medium, tbody.hide-for-medium-down {
    display: table-row-group !important;
  }

  /* line 160, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  tr.show-for-large, tr.show-for-large-up, tr.hide-for-medium, tr.hide-for-medium-down {
    display: table-row !important;
  }

  /* line 167, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  td.show-for-large, td.show-for-large-up, td.hide-for-medium, td.hide-for-medium-down,
  th.show-for-large,
  th.show-for-large-up,
  th.hide-for-medium,
  th.hide-for-medium-down {
    display: table-cell !important;
  }
}
/* X-Large Displays: 1400px and up */
@media only screen and (min-width: 1440px) {
  /* line 173, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .show-for-xlarge {
    display: inherit !important;
  }

  /* line 176, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .show-for-large,
  .show-for-large-down {
    display: none !important;
  }

  /* line 179, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .hide-for-large,
  .hide-for-large-down {
    display: inherit !important;
  }

  /* line 181, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .hide-for-xlarge {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 187, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  table.show-for-xlarge, table.hide-for-large, table.hide-for-large-down {
    display: table;
  }

  /* line 192, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  thead.show-for-xlarge, thead.hide-for-large, thead.hide-for-large-down {
    display: table-header-group !important;
  }

  /* line 197, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  tbody.show-for-xlarge, tbody.hide-for-large, tbody.hide-for-large-down {
    display: table-row-group !important;
  }

  /* line 202, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  tr.show-for-xlarge, tr.hide-for-large, tr.hide-for-large-down {
    display: table-row !important;
  }

  /* line 208, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  td.show-for-xlarge, td.hide-for-large, td.hide-for-large-down,
  th.show-for-xlarge,
  th.hide-for-large,
  th.hide-for-large-down {
    display: table-cell !important;
  }
}
/* Orientation targeting */
/* line 215, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important;
}

/* line 217, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}

/* Specific visilbity for tables */
/* line 222, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
table.hide-for-landscape, table.show-for-portrait {
  display: table;
}

/* line 226, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important;
}

/* line 230, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important;
}

/* line 234, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important;
}

/* line 239, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important;
}

@media only screen and (orientation: landscape) {
  /* line 244, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important;
  }

  /* line 246, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 251, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  table.show-for-landscape, table.hide-for-portrait {
    display: table;
  }

  /* line 255, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important;
  }

  /* line 259, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important;
  }

  /* line 263, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important;
  }

  /* line 268, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  td.show-for-landscape, td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important;
  }
}
@media only screen and (orientation: portrait) {
  /* line 274, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important;
  }

  /* line 276, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  .hide-for-portrait,
  .show-for-landscape {
    display: none !important;
  }

  /* Specific visilbity for tables */
  /* line 281, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  table.show-for-portrait, table.hide-for-landscape {
    display: table;
  }

  /* line 285, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important;
  }

  /* line 289, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important;
  }

  /* line 293, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important;
  }

  /* line 298, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
  td.show-for-portrait, td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important;
  }
}
/* Touch-enabled device targeting */
/* line 303, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.show-for-touch {
  display: none !important;
}

/* line 304, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.hide-for-touch {
  display: inherit !important;
}

/* line 305, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.touch .show-for-touch {
  display: inherit !important;
}

/* line 306, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.touch .hide-for-touch {
  display: none !important;
}

/* Specific visilbity for tables */
/* line 309, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
table.hide-for-touch {
  display: table;
}

/* line 310, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.touch table.show-for-touch {
  display: table;
}

/* line 311, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
thead.hide-for-touch {
  display: table-header-group !important;
}

/* line 312, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.touch thead.show-for-touch {
  display: table-header-group !important;
}

/* line 313, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
tbody.hide-for-touch {
  display: table-row-group !important;
}

/* line 314, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.touch tbody.show-for-touch {
  display: table-row-group !important;
}

/* line 315, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
tr.hide-for-touch {
  display: table-row !important;
}

/* line 316, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.touch tr.show-for-touch {
  display: table-row !important;
}

/* line 317, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
td.hide-for-touch {
  display: table-cell !important;
}

/* line 318, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.touch td.show-for-touch {
  display: table-cell !important;
}

/* line 319, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
th.hide-for-touch {
  display: table-cell !important;
}

/* line 320, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_visibility.scss */
.touch th.show-for-touch {
  display: table-cell !important;
}

/* Inline Lists */
/* line 49, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_inline-lists.scss */
.inline-list {
  margin: 0 auto 1.0625em auto;
  margin-left: -1.375em;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
/* line 36, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_inline-lists.scss */
.inline-list > li {
  list-style: none;
  float: left;
  margin-left: 1.375em;
  display: block;
}
/* line 41, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_inline-lists.scss */
.inline-list > li > * {
  display: block;
}

/* Panels */
/* line 66, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #f2f2f2;
}
/* line 44, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel > :first-child {
  margin-top: 0;
}
/* line 45, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel > :last-child {
  margin-bottom: 0;
}
/* line 50, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p {
  color: #333333;
}
/* line 54, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
  line-height: 1;
  margin-bottom: 0.625em;
}
/* line 56, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel h1.subheader, .panel h2.subheader, .panel h3.subheader, .panel h4.subheader, .panel h5.subheader, .panel h6.subheader {
  line-height: 1.4;
}
/* line 68, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel.callout {
  border-style: solid;
  border-width: 1px;
  border-color: #2284a1;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #2ba6cb;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
/* line 44, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel.callout > :first-child {
  margin-top: 0;
}
/* line 45, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel.callout > :last-child {
  margin-bottom: 0;
}
/* line 51, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6, .panel.callout p {
  color: white;
}
/* line 54, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6 {
  line-height: 1;
  margin-bottom: 0.625em;
}
/* line 56, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel.callout h1.subheader, .panel.callout h2.subheader, .panel.callout h3.subheader, .panel.callout h4.subheader, .panel.callout h5.subheader, .panel.callout h6.subheader {
  line-height: 1.4;
}
/* line 73, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel.radius {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* Tables */
/* line 80, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_tables.scss */
table {
  background: white;
  margin-bottom: 1.25em;
  border: solid 1px #dddddd;
}
/* line 42, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_tables.scss */
table thead,
table tfoot {
  background: whitesmoke;
  font-weight: bold;
}
/* line 48, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_tables.scss */
table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
  padding: 0.5em 0.625em 0.625em;
  font-size: 0.875em;
  color: #222222;
  text-align: left;
}
/* line 59, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_tables.scss */
table tr th,
table tr td {
  padding: 0.5625em 0.625em;
  font-size: 0.875em;
  color: #222222;
}
/* line 67, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_tables.scss */
table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #f9f9f9;
}
/* line 74, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_tables.scss */
table thead tr th,
table tfoot tr th,
table tbody tr td,
table tr td,
table tfoot tr td {
  display: table-cell;
  line-height: 1.125em;
}

/* line 1, ../sass/_gridData.scss */
div.row_n {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 60em;
  *zoom: 1;
  background-color: white;
  border-left: 3px solid #660000;
  border-right: 3px solid #660000;
}
/* line 121, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
div.row_n:before, div.row_n:after {
  content: " ";
  display: table;
}
/* line 122, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_global.scss */
div.row_n:after {
  clear: both;
}

/* line 7, ../sass/_gridData.scss */
.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #cc7a00;
  margin-bottom: 1.25em;
  padding: 1.25em;
  background: #ff9900;
}
/* line 44, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel > :first-child {
  margin-top: 0;
}
/* line 45, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel > :last-child {
  margin-bottom: 0;
}
/* line 50, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p {
  color: black;
}
/* line 54, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
  line-height: 1;
  margin-bottom: 0.625em;
}
/* line 56, ../../../../../var/lib/gems/1.8/gems/zurb-foundation-4.2.3/scss/foundation/components/_panels.scss */
.panel h1.subheader, .panel h2.subheader, .panel h3.subheader, .panel h4.subheader, .panel h5.subheader, .panel h6.subheader {
  line-height: 1.4;
}

/* line 10, ../sass/_gridData.scss */
div.row_n:first-child {
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  border-top: 0px solid #660000;
}

/* line 15, ../sass/_gridData.scss */
div.row_n:last-child {
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 3px solid #660000;
}

/* line 19, ../sass/_gridData.scss */
html {
  min-height: 100%;
  background: #0b71a7;
}

/* line 23, ../sass/_gridData.scss */
body {
  padding-top: 0px;
  min-height: 100%;
  background: #0b71a7;
  padding-bottom: 20px;
}

/* line 29, ../sass/_gridData.scss */
.label-1 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 4.16667%;
  float: left;
}

/* line 32, ../sass/_gridData.scss */
.label-2 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 8.33333%;
  float: left;
}

/* line 35, ../sass/_gridData.scss */
.label-3 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 12.5%;
  float: left;
}

/* line 38, ../sass/_gridData.scss */
.label-4 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 16.66667%;
  float: left;
}

/* line 41, ../sass/_gridData.scss */
.label-5 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 20.83333%;
  float: left;
}

/* line 44, ../sass/_gridData.scss */
.label-6 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 25%;
  float: left;
}

/* line 47, ../sass/_gridData.scss */
.label-7 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 29.16667%;
  float: left;
}

/* line 50, ../sass/_gridData.scss */
.label-8 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 33.33333%;
  float: left;
}

/* line 53, ../sass/_gridData.scss */
.label-9 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 37.5%;
  float: left;
}

/* line 56, ../sass/_gridData.scss */
.label-10 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 41.66667%;
  float: left;
}

/* line 59, ../sass/_gridData.scss */
.label-11 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 45.83333%;
  float: left;
}

/* line 62, ../sass/_gridData.scss */
.label-12 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
  float: left;
}

/* line 65, ../sass/_gridData.scss */
.label-13 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 54.16667%;
  float: left;
}

/* line 68, ../sass/_gridData.scss */
.label-14 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 58.33333%;
  float: left;
}

/* line 71, ../sass/_gridData.scss */
.label-15 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 62.5%;
  float: left;
}

/* line 74, ../sass/_gridData.scss */
.label-16 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 66.66667%;
  float: left;
}

/* line 77, ../sass/_gridData.scss */
.label-17 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 70.83333%;
  float: left;
}

/* line 80, ../sass/_gridData.scss */
.label-18 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 75%;
  float: left;
}

/* line 83, ../sass/_gridData.scss */
.label-19 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 79.16667%;
  float: left;
}

/* line 86, ../sass/_gridData.scss */
.label-20 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 83.33333%;
  float: left;
}

/* line 89, ../sass/_gridData.scss */
.label-21 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 87.5%;
  float: left;
}

/* line 92, ../sass/_gridData.scss */
.label-22 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 91.66667%;
  float: left;
}

/* line 95, ../sass/_gridData.scss */
.label-23 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 95.83333%;
  float: left;
}

/* line 98, ../sass/_gridData.scss */
.label-24 {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  float: right;
  float: left;
}

/*! normalize.css v2.1.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Set default font family to sans-serif.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, ../sass/_normalize.scss */
html {
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

/**
 * Remove default margin.
 */
/* line 79, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 91, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 100, ../sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 113, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 122, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 131, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 139, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 147, ../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 157, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 169, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 178, ../sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 186, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 194, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 203, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 210, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 214, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 226, ../sass/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 234, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 246, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 258, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 269, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 283, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 295, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 307, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 322, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 332, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 342, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 353, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 366, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 375, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 385, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 398, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**********       ContainerWidget id : 122     *****/
/**********       ContainerWidget id : 92     *****/
/**********       ContainerWidget id : 123     *****/
/**********       ContainerWidget id : 93     *****/
/**********       ContainerWidget id : 94     *****/
/**********       ContainerWidget id : 88     *****/
/**********       ContainerWidget id : 89     *****/
/**********       ContainerWidget id : 90     *****/
/**********       ContainerWidget id : 91     *****/
/* line 3, ../sass/_website_2.scss */
.p8 {
  /********   containerID : 106   **********/
  /********   containerID : 107   **********/
}
/* line 6, ../sass/_website_2.scss */
.p8 .label-24 {
  /********   widgetContainerID : 122   **********/
}
/* line 10, ../sass/_website_2.scss */
.p8 .label-24 .im img {
  border: 0px;
  width: 300px;
  height: 50px;
}
/* line 20, ../sass/_website_2.scss */
.p8 .label-24 {
  /********   widgetContainerID : 92   **********/
  /********   widgetContainerID : 123   **********/
}
/* line 25, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .item_2 {
  font-size: 16px;
  color: black;
  font-weight: bold;
  float: left;
  width: 70%;
  margin-right: 20px;
}
/* line 32, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .item_2 .inputSearch {
  border-color: #484848;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffcc;
  color: #000066;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 5px;
  width: 100%;
  margin-top: 20px;
}
/* line 47, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .item_1 {
  font-size: 16px;
  color: black;
  font-weight: bold;
  float: left;
  width: 35%;
  margin-right: 20px;
}
/* line 54, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .item_1 .inputSearch {
  border-color: #484848;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffcc;
  color: #000066;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 5px;
  width: 100%;
  margin-top: 20px;
}
/* line 68, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .btn {
  float: left;
  width: 17%;
  margin-top: 10px;
}
/* line 72, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .btn button {
  width: 100%;
  border-width: 1px;
  border-color: #484848;
  text-decoration: none;
  color: #ff6666;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=0);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 74, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .btn button img {
  width: 30px;
  height: 30px;
}
/* line 92, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .btn button:hover {
  text-decoration: none;
  color: #ff6666;
  background-color: white;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=0);
}
/* line 100, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .twitter-typeahead {
  width: 100%;
}
/* line 105, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .typeahead,
.p8 .label-24 .search-jobs .tt-query,
.p8 .label-24 .search-jobs .tt-hint {
  border-color: #484848;
  border-size: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffcc;
  color: #000066;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 5px;
  margin-top: 20px;
  width: 100% !important;
  outline: none;
}
/* line 120, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .typeahead {
  background-color: #ffffcc;
}
/* line 128, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 134, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .tt-hint {
  color: #999999;
}
/* line 138, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .tt-dropdown-menu {
  width: 250px;
  margin-top: 0px;
  padding: 0px;
  background-color: #ffffcc;
  border-top: 1px solid #484848;
  border-left: 1px solid #484848;
  border-right: 1px solid #484848;
  border-bottom: 1px solid #484848;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* line 156, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .tt-suggestion {
  color: #000066;
  font-size: 12px;
  font-weight: normal;
  padding: 0px;
  margin-top: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-top: 1px solid #484848;
  border-left: 0px solid #484848;
  border-right: 0px solid #484848;
  border-bottom: 0px solid #484848;
  line-height: 120%;
}
/* line 170, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}
/* line 175, ../sass/_website_2.scss */
.p8 .label-24 .search-jobs .tt-suggestion p {
  margin: 0;
}
/* line 183, ../sass/_website_2.scss */
.p8 .label-24 .lastJobs p {
  font-size: 16px;
  font-weight: bold;
  color: black;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0px solid #484848;
  background-color: white;
  padding: 5px 10px;
  text-align: left;
}
/* line 195, ../sass/_website_2.scss */
.p8 .label-24 .lastJobs table tr:nth-child(even) {
  background: #ff9900;
}
/* line 198, ../sass/_website_2.scss */
.p8 .label-24 .lastJobs table tr:nth-child(odd) {
  background: #ffebcc;
}
/* line 203, ../sass/_website_2.scss */
.p8 .label-24 .lastJobs table .c1 {
  width: 50%;
}
/* line 205, ../sass/_website_2.scss */
.p8 .label-24 .lastJobs table .c1 h2 {
  margin: 0;
}
/* line 208, ../sass/_website_2.scss */
.p8 .label-24 .lastJobs table .c1 h2 a {
  color: #000066;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}
/* line 214, ../sass/_website_2.scss */
.p8 .label-24 .lastJobs table .c1 h2 a:hover {
  color: #660000;
  text-decoration: underline;
}
/* line 219, ../sass/_website_2.scss */
.p8 .label-24 .lastJobs table .c1 .infos {
  margin-top: 5px;
  color: black;
  font-size: 12px;
  font-weight: bold;
}
/* line 225, ../sass/_website_2.scss */
.p8 .label-24 .lastJobs table .c1 .description {
  margin-top: 5px;
  color: #4d4d4d;
  font-size: 12px;
  font-weight: normal;
  line-height: 120%;
}
/* line 233, ../sass/_website_2.scss */
.p8 .label-24 .lastJobs table .c2 {
  width: 20%;
  color: black;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 240, ../sass/_website_2.scss */
.p8 .label-24 .lastJobs table .c3 {
  width: 15%;
  color: black;
  font-size: 12px;
  font-weight: bold;
}
/* line 246, ../sass/_website_2.scss */
.p8 .label-24 .lastJobs table .c4 {
  width: 15%;
  color: black;
  font-size: 12px;
  font-weight: bold;
}

/* line 257, ../sass/_website_2.scss */
.p7 {
  /********   containerID : 112   **********/
  /********   containerID : 113   **********/
}
/* line 260, ../sass/_website_2.scss */
.p7 .label-24 {
  /********   widgetContainerID : 93   **********/
}
/* line 264, ../sass/_website_2.scss */
.p7 .label-24 .jobData .job {
  width: 100%;
  float: left;
  padding-left: 10px;
  background-color: #ffffcc;
}
/* line 269, ../sass/_website_2.scss */
.p7 .label-24 .jobData .job .title {
  float: left;
  width: 75%;
  font-size: 20px;
  color: #660000;
  font-style: italic;
  margin-top: 10px;
}
/* line 277, ../sass/_website_2.scss */
.p7 .label-24 .jobData .job .date {
  float: right;
  width: 25%;
  background-color: #0b71a7;
  padding-left: 5px;
  padding-bottom: 5px;
}
/* line 283, ../sass/_website_2.scss */
.p7 .label-24 .jobData .job .date .date2 {
  background-color: #ffff66;
  width: 100%;
  float: right;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 289, ../sass/_website_2.scss */
.p7 .label-24 .jobData .job .date .date2 .s1 {
  padding-left: 5px;
  color: #000066;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
}
/* line 296, ../sass/_website_2.scss */
.p7 .label-24 .jobData .job .date .date2 .s2 {
  color: #660000;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}
/* line 304, ../sass/_website_2.scss */
.p7 .label-24 .jobData .job .info {
  float: left;
  width: 33%;
  margin-top: 10px;
}
/* line 308, ../sass/_website_2.scss */
.p7 .label-24 .jobData .job .info .key {
  float: left;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
  color: black;
}
/* line 315, ../sass/_website_2.scss */
.p7 .label-24 .jobData .job .info .value {
  float: left;
  width: 100%;
  margin-top: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #660000;
}
/* line 324, ../sass/_website_2.scss */
.p7 .label-24 .jobData .job .description {
  font-size: 14px;
  font-weight: normal;
  line-height: 130%;
  color: black;
}
/* line 333, ../sass/_website_2.scss */
.p7 .label-24 .jobData button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #484848;
  color: #0b71a7;
  background-color: #ffb13d;
  background-image: -moz-linear-gradient(top, #ff9900, #ffd699);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff9900), to(#ffd699));
  background-image: -webkit-linear-gradient(top, #ff9900, #ffd699);
  background-image: -o-linear-gradient(top, #ff9900, #ffd699);
  background-image: linear-gradient(to bottom, #ff9900, #ffd699);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF9900', endColorstr='#FFFFD699', GradientType=0);
  font-size: 18px;
  font-weight: bold;
  padding: 5px 15px;
  text-decoration: underline;
}
/* line 343, ../sass/_website_2.scss */
.p7 .label-24 .jobData button:hover {
  color: #660000;
  background-color: #ffbd5b;
  background-image: -moz-linear-gradient(top, #ffd699, #ff9900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd699), to(#ff9900));
  background-image: -webkit-linear-gradient(top, #ffd699, #ff9900);
  background-image: -o-linear-gradient(top, #ffd699, #ff9900);
  background-image: linear-gradient(to bottom, #ffd699, #ff9900);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFD699', endColorstr='#FFFF9900', GradientType=0);
  text-decoration: underline;
}
/* line 353, ../sass/_website_2.scss */
.p7 .label-24 {
  /********   widgetContainerID : 94   **********/
}
/* line 358, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .item_2 {
  font-size: 16px;
  color: black;
  font-weight: bold;
  float: left;
  width: 70%;
  margin-right: 20px;
}
/* line 365, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .item_2 .inputSearch {
  border-color: #484848;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffcc;
  color: #000066;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 5px;
  width: 100%;
  margin-top: 20px;
}
/* line 380, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .item_1 {
  font-size: 16px;
  color: black;
  font-weight: bold;
  float: left;
  width: 35%;
  margin-right: 20px;
}
/* line 387, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .item_1 .inputSearch {
  border-color: #484848;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffcc;
  color: #000066;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 5px;
  width: 100%;
  margin-top: 20px;
}
/* line 401, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .btn {
  float: left;
  width: 17%;
  margin-top: 10px;
}
/* line 405, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .btn button {
  width: 100%;
  border-width: 1px;
  border-color: #484848;
  text-decoration: none;
  color: #ff6666;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=0);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 407, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .btn button img {
  width: 30px;
  height: 30px;
}
/* line 425, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .btn button:hover {
  text-decoration: none;
  color: #ff6666;
  background-color: white;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=0);
}
/* line 433, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .twitter-typeahead {
  width: 100%;
}
/* line 438, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .typeahead,
.p7 .label-24 .search-jobs .tt-query,
.p7 .label-24 .search-jobs .tt-hint {
  border-color: #484848;
  border-size: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffcc;
  color: #000066;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 5px;
  margin-top: 20px;
  width: 100% !important;
  outline: none;
}
/* line 453, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .typeahead {
  background-color: #ffffcc;
}
/* line 461, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 467, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .tt-hint {
  color: #999999;
}
/* line 471, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .tt-dropdown-menu {
  width: 250px;
  margin-top: 0px;
  padding: 0px;
  background-color: #ffffcc;
  border-top: 1px solid #484848;
  border-left: 1px solid #484848;
  border-right: 1px solid #484848;
  border-bottom: 1px solid #484848;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* line 489, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .tt-suggestion {
  color: #000066;
  font-size: 12px;
  font-weight: normal;
  padding: 0px;
  margin-top: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-top: 1px solid #484848;
  border-left: 0px solid #484848;
  border-right: 0px solid #484848;
  border-bottom: 0px solid #484848;
  line-height: 120%;
}
/* line 503, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}
/* line 508, ../sass/_website_2.scss */
.p7 .label-24 .search-jobs .tt-suggestion p {
  margin: 0;
}

/* line 516, ../sass/_website_2.scss */
.p6 {
  /********   containerID : 108   **********/
  /********   containerID : 109   **********/
  /********   containerID : 110   **********/
}
/* line 519, ../sass/_website_2.scss */
.p6 .label-8 {
  /********   widgetContainerID : 88   **********/
}
/* line 523, ../sass/_website_2.scss */
.p6 .label-8 .data-refine ul {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}
/* line 524, ../sass/_website_2.scss */
.p6 .label-8 .data-refine ul li {
  margin-top: 5px;
}
/* line 527, ../sass/_website_2.scss */
.p6 .label-8 .data-refine ul a {
  color: #000066;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}
/* line 533, ../sass/_website_2.scss */
.p6 .label-8 .data-refine ul a:hover {
  color: #660000;
  text-decoration: underline;
}
/* line 537, ../sass/_website_2.scss */
.p6 .label-8 .data-refine ul .number {
  color: black;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}
/* line 547, ../sass/_website_2.scss */
.p6 .label-8 .data-refine .refineTitle {
  font-weight: bold;
  color: #000066;
  font-size: 14px;
}
/* line 552, ../sass/_website_2.scss */
.p6 .label-8 .data-refine hr {
  color: #ff9900;
  background-color: #ff9900;
  height: 1px;
  border: 0px;
}
/* line 563, ../sass/_website_2.scss */
.p6 .label-16 {
  /********   widgetContainerID : 89   **********/
  /********   widgetContainerID : 90   **********/
}
/* line 567, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset .odd {
  background-color: white;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=0);
}
/* line 570, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset .even {
  background-color: #ffffea;
  background-image: -moz-linear-gradient(top, white, #ffffcc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#ffffcc));
  background-image: -webkit-linear-gradient(top, white, #ffffcc);
  background-image: -o-linear-gradient(top, white, #ffffcc);
  background-image: linear-gradient(to bottom, #ffffff, #ffffcc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFCC', GradientType=0);
}
/* line 573, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset .resultItem {
  margin-top: 5px;
  float: left;
  width: 100%;
  padding-bottom: 5px;
}
/* line 579, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset .resultItem .clear {
  clear: both;
}
/* line 582, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset .resultItem .date {
  padding: 5px;
  margin: 0;
  float: left;
  width: 12%;
  background-color: #ff9900;
  color: #660000;
  font-size: 14px;
  font-weight: bold;
}
/* line 592, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset .resultItem .title {
  padding: 5px;
  margin: 0;
  float: left;
  width: 87%;
}
/* line 598, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset .resultItem .title a {
  color: #000066;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}
/* line 604, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset .resultItem .title a:hover {
  color: #660000;
  text-decoration: underline;
}
/* line 609, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset .resultItem .p1 {
  float: left;
  width: 30%;
  padding-left: 2.5px;
  border-right: 1px dashed #ff9900;
}
/* line 613, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset .resultItem .p1 p {
  padding: 0px;
  margin: 0px;
}
/* line 616, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset .resultItem .p1 p .key {
  color: black;
  font-size: 12px;
  font-weight: bold;
}
/* line 622, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset .resultItem .p1 p .value {
  color: #000066;
  font-size: 12px;
  font-weight: normal;
  margin-left: 2.5px;
}
/* line 632, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset .resultItem .p2 {
  float: left;
  width: 69%;
  padding-left: 2.5px;
  color: #4d4d4d;
  font-size: 12px;
  font-weight: normal;
  line-height: 130%;
}
/* line 642, ../sass/_website_2.scss */
.p6 .label-16 .job-resultset p.noresult {
  color: black;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  background-color: white;
}
/* line 654, ../sass/_website_2.scss */
.p6 .label-16 .more-pages ul {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 663, ../sass/_website_2.scss */
.p6 .label-16 .more-pages ul > li {
  display: inline;
}
/* line 667, ../sass/_website_2.scss */
.p6 .label-16 .more-pages ul > li > a,
.p6 .label-16 .more-pages ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 100%;
  text-decoration: none;
  background-color: #ff9900;
  color: #0b71a7;
  border-width: 1px;
  border-style: dashed;
  border-color: #ff9900;
  border-left-width: 0;
}
/* line 683, ../sass/_website_2.scss */
.p6 .label-16 .more-pages ul > li > a:hover,
.p6 .label-16 .more-pages ul > li > a:focus,
.p6 .label-16 .more-pages ul > .active > a,
.p6 .label-16 .more-pages ul > .active > span {
  background-color: #660000;
  color: #000066;
}
/* line 688, ../sass/_website_2.scss */
.p6 .label-16 .more-pages ul > .active > a,
.p6 .label-16 .more-pages ul > .active > span {
  color: #0b71a7;
  cursor: default;
}
/* line 695, ../sass/_website_2.scss */
.p6 .label-16 .more-pages ul > .disabled > span,
.p6 .label-16 .more-pages ul > .disabled > a,
.p6 .label-16 .more-pages ul > .disabled > a:hover,
.p6 .label-16 .more-pages ul > .disabled > a:focus {
  color: #0b71a7;
  background-color: transparent;
  cursor: default;
}
/* line 701, ../sass/_website_2.scss */
.p6 .label-16 .more-pages ul > li:first-child > a,
.p6 .label-16 .more-pages ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
/* line 706, ../sass/_website_2.scss */
.p6 .label-16 .more-pages ul > li:last-child > a,
.p6 .label-16 .more-pages ul > li:last-child > span {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
/* line 711, ../sass/_website_2.scss */
.p6 .label-16 .more-pages .pagination-centered {
  text-align: center;
}
/* line 714, ../sass/_website_2.scss */
.p6 .label-16 .more-pages .pagination-right {
  text-align: right;
}
/* line 724, ../sass/_website_2.scss */
.p6 .label-24 {
  /********   widgetContainerID : 91   **********/
}
/* line 729, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .item_2 {
  font-size: 16px;
  color: black;
  font-weight: bold;
  float: left;
  width: 70%;
  margin-right: 20px;
}
/* line 736, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .item_2 .inputSearch {
  border-color: #484848;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffcc;
  color: #000066;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 5px;
  width: 100%;
  margin-top: 20px;
}
/* line 751, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .item_1 {
  font-size: 16px;
  color: black;
  font-weight: bold;
  float: left;
  width: 35%;
  margin-right: 20px;
}
/* line 758, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .item_1 .inputSearch {
  border-color: #484848;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffcc;
  color: #000066;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 5px;
  width: 100%;
  margin-top: 20px;
}
/* line 772, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .btn {
  float: left;
  width: 17%;
  margin-top: 10px;
}
/* line 776, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .btn button {
  width: 100%;
  border-width: 1px;
  border-color: #484848;
  text-decoration: none;
  color: #ff6666;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=0);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 778, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .btn button img {
  width: 30px;
  height: 30px;
}
/* line 796, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .btn button:hover {
  text-decoration: none;
  color: #ff6666;
  background-color: white;
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFFFFFF', GradientType=0);
}
/* line 804, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .twitter-typeahead {
  width: 100%;
}
/* line 809, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .typeahead,
.p6 .label-24 .search-jobs .tt-query,
.p6 .label-24 .search-jobs .tt-hint {
  border-color: #484848;
  border-size: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffcc;
  color: #000066;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 5px;
  margin-top: 20px;
  width: 100% !important;
  outline: none;
}
/* line 824, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .typeahead {
  background-color: #ffffcc;
}
/* line 832, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 838, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .tt-hint {
  color: #999999;
}
/* line 842, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .tt-dropdown-menu {
  width: 250px;
  margin-top: 0px;
  padding: 0px;
  background-color: #ffffcc;
  border-top: 1px solid #484848;
  border-left: 1px solid #484848;
  border-right: 1px solid #484848;
  border-bottom: 1px solid #484848;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* line 860, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .tt-suggestion {
  color: #000066;
  font-size: 12px;
  font-weight: normal;
  padding: 0px;
  margin-top: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-top: 1px solid #484848;
  border-left: 0px solid #484848;
  border-right: 0px solid #484848;
  border-bottom: 0px solid #484848;
  line-height: 120%;
}
/* line 874, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}
/* line 879, ../sass/_website_2.scss */
.p6 .label-24 .search-jobs .tt-suggestion p {
  margin: 0;
}
