.infos{
    padding : $info-padding;
    background-color : $info-bg;
    .date{
        font-weight : $date-weight;
        color : $date-color;
        font-size : $date-size;
    }

    .info{
        width : 150px;
        font-size : $info-size;
        color : $info-label-color;
        font-weight : $info-label-weight;
        margin-top : $info-margin-top;
    }
    .data{
        font-size : $info-size;
        color : $info-data-color;
        font-weight : $info-data-weight;
    }
}
button{
    @include border-radius( $apply-radius );
    border : $apply-border-size solid $apply-border-color;
    color : $b-apply-color;
    @include gradient-vertical($apply-start-bg, $apply-end-bg);
    font-size: $apply-size;
    font-weight : $apply-weight;
    padding : $apply-vertical-padding $apply-horizontal-padding ;
    text-decoration : $apply-decoration;
}
button:hover{
    color : $apply-hover-color;
    @include gradient-vertical($apply-start-hover-bg, $apply-end-hover-bg);
    text-decoration : $apply-hover-decoration;
}