//Date
$date-weight : normal;
$date-color : $body-background-color;
$date-size : 14px;
//Info
$info-margin-top : 20px;
$info-padding : 5px;
$info-bg : $border-color;
$info-size : 12px;
//InfoLabel
$info-label-color : $body-background-color;
$info-label-weight : bold;
//InfoData
$info-data-color : $body-background-color;
$info-data-weight : normal;
//Apply
$apply-radius : 10px;
$apply-border-size : 1px
$apply-border-color : $border-color;
$b-apply-color : $site-background-color;
$apply-start-bg : $apply-color;
$apply-end-bg : lighten($apply-color, 30%);
$apply-size : 16px;
$apply-weight : bold;
$apply-vertical-padding : 5px;
$apply-horizontal-padding :5px;
$apply-decoration : none;
//ApplyHover
$apply-hover-color : lighten($apply-color, 40%);
$apply-hover-decoration : underline;
$apply-start-hover-bg : lighten($apply-color, 30%);
$apply-end-hover-bg : $apply-color;