<div class='line-J' >
<div class='job_t ' >
<div class='im'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(173);?>
</div>
</div>
<div class='job_l ' >
<div class='job-search'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(174);?>
</div>
</div>
</div>
<div class='line-J' >
<div class='job_t ' >
<div style='width : 100%;float : left;'><br /></div></div>
<div class='job_f ' >
<div style='width : 100%;float : left;'><br /></div></div>
<div class='job_t ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
<div class='line-J' >
<div class='job_b ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
<div class='line-J' >
<div class='job_b ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
