<div class='line-J' >
<div class='job_b ' >
<div class='job-search'  style='width:100%;float:left;padding-top:20px;padding-bottom:20px;border-bottom: 1px solid #b7b7b7' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(177);?>
</div>
</div>
</div>
<div class='line-J' >
<div class='job_t ' >
<div class='refineSearch'  style='width:100%;float:left;padding-top:30px;padding-right:10px' >
<?\JOBSEARCH\WIDGET\refine::RENDER(178);?>
</div>
</div>
<div class='job_s ' >
<div class='resultset-job'  style='width:100%;float:left;padding-top:20px' >
<?\JOBSEARCH\WIDGET\searchResult::RENDER(179);?>
</div>
<div class='more-pages'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\pagination::RENDER(180);?>
</div>
</div>
<div class='job_u ' >
<div class='string-info'  style='width:100%;float:left;margin-top:-20px;padding-left:30px' >
<?\JOBSEARCH\WIDGET\freeText::RENDER(184);?>
</div>
</div>
</div>
<div class='line-J' >
<div class='job_b ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
<div class='line-J' >
<div class='job_b ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
