<div class='line-J' >
<div class='job_b ' >
<div class='job-search'  style='width:100%;float:left;padding-bottom:15px;border-bottom: 1px solid #b7b7b7' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(185);?>
</div>
</div>
</div>
<div class='line-J' >
<div class='job_x ' >
<div class='jobdetails'  style='width:100%;float:left;padding-top:10px;padding-right:10px;padding-left:10px' >
<?\JOBSEARCH\WIDGET\jobDetails::RENDER(186);?>
</div>
</div>
<div class='job_e ' >
<div class='jobInfos'  style='width:100%;float:left;margin-top:60px;padding-top:6px;padding-left:10px;border-left: 1px solid #b7b7b7' >
<?\JOBSEARCH\WIDGET\jobSide::RENDER(187);?>
</div>
</div>
</div>
<div class='line-J' >
<div class='job_b ' >
<div class='dir-info'  style='width:100%;float:left;margin-top:30px;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;border-top: 1px solid #b7b7b7;border-right: 1px solid #b7b7b7;border-bottom: 1px solid #b7b7b7;border-left: 1px solid #b7b7b7' >
<?\JOBSEARCH\WIDGET\directory::RENDER(188);?>
</div>
</div>
</div>
