<div class='line-J' >
<div class='job_b ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
<div class='line-J' >
<div class='job_b ' >
<div class='string-info'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\freeText::RENDER(183);?>
</div>
</div>
</div>
<div class='line-J' >
<div class='job_b ' >
<div class='job-search'  style='width:100%;float:left;margin-bottom:50px;margin-left:50px' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(170);?>
</div>
<div class='jobs-last-posetd'  style='width:100%;float:left;margin-left:50px;padding-bottom:20px;border-top: 1px solid #b7b7b7;border-bottom: 1px solid #b7b7b7' >
<?\JOBSEARCH\WIDGET\latestJobs::RENDER(171);?>
</div>
</div>
</div>
