.element{
    float : left;
    width : 100%;
   
    border-bottom : $element-border-size $element-border-style $element-border-color;
    .part1{
        padding-top : $element-padding;
        padding-bottom : $element-padding;
        float : left;
        width : 66%;
       
        border-right : $element-border-size $element-border-style $element-border-color;
        a{
            color : $job-link-color;
            font-size : $job-link-size;
            font-weight : $job-link-weight;
            text-decoration : $job-link-decoration;
        }
        a:hover{
            color : $job-link-hover-color;
            text-decoration : $job-link-hover-decoration;
        }
        .company{
            color : $company-color;
            font-size : $company-size;
            font-weight : $company-weight;
        }
        .description{
            margin-top : 5px;
            color : $jobdesc-color;
            font-size : $jobdesc-size;
            font-weight : $jobdesc-weight;
        }
        .classification{
            margin-top : 5px;
            color : $classification-color;
            font-size : $classification-size;
            font-weight : $classification-weight;
        }        
    }
    
    .part2{
        padding-top : $element-padding;
        float : left;
        width : 33%;
        height : 100%;
        .date{
            text-align : right;
            color : $date-color;
            font-size : $date-size;
            font-weight : $date-weight;
        }
        .location{
            margin-left : $element-padding;
            color : $location-color;
            font-size : $location-size;
            font-weight : $location-weight;
        }
        
    }
    
}
p.noresult{
    color : $noResult-color;
    font-size : $noResult-size;
    font-weight : $noResult-weight;
    padding : $noResult-padding-size;
    background-color : $noResult-bg;
}