//Element
$element-padding : 5px;
$element-border-color : $input-background-color;
$element-border-size : 1px;
$element-border-style : solid;
//JobLInk
$job-link-color : $link-font-color;
$job-link-size : 16px;
$job-link-weight : normal;
$job-link-decoration : none;
//JobLInkHover
$job-link-hover-color : $site-background-color;
$job-link-hover-decoration : underline;
//Company
$company-color : $primary-font-color;
$company-weight : normal;
$company-size : 12px;
//Description
$jobdesc-color : $primary-font-color;
$jobdesc-size : 12px;
$jobdesc-weight : normal;
//Classification
$classification-color : lighten($primary-font-color, 20%);
$classification-size : 12px;
$classification-weight : normal;
//Date
$date-color : $link-hover-font-color;
$date-size : 12px;
$date-weight : normal;
//Location
$location-color : $primary-font-color;
$location-size : 12px;
$location-weight : normal;
//NoResults
$noResult-color : $primary-font-color;
$noResult-size : 15px;
$noResult-weight : bold;
$noResult-padding-size : 10px;
$noResult-bg : $site-background-color;