<script type="text/javascript" src="/assets/extjs/jquery.js?v=1960345057"></script>
<script type="text/javascript" src="/assets/extjs/autocomplete.js?v=1572898585"></script>
<script type="text/javascript" src="/assets/extjs/hogan.js?v=182537593"></script>
<script type="text/javascript" charset="utf-8">var uID=6;</script>