<div class='futur_h' >
<div class='fluid-24 ' >
<div class='log'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(146);?>
</div>
</div>
</div>
<div class='futur_h' >
<div class='fluid-8 ' >
<div class='refine-search'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\refine::RENDER(155);?>
</div>
</div>
<div class='fluid-16 ' >
<div class='result-search'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\searchResult::RENDER(156);?>
</div>
<div class='pagi-style'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\pagination::RENDER(157);?>
</div>
</div>
</div>
<div class='futur_h' >
<div class='fluid-24 ' >
<div class='job-search'  style='width:100%;float:left;padding-bottom:30px' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(149);?>
</div>
</div>
</div>
