<div class='futur_h' >
<div class='fluid-24 ' >
<div class='log'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(151);?>
</div>
</div>
</div>
<div class='futur_h' >
<div class='fluid-16 ' >
<div class='jobData'  style='width:100%;float:left;padding-bottom:20px' >
<?\JOBSEARCH\WIDGET\jobDetails::RENDER(152);?>
</div>
</div>
<div class='fluid-8 ' >
<div class='jobdetails'  style='width:100%;float:left;padding-bottom:20px' >
<?\JOBSEARCH\WIDGET\jobSide::RENDER(153);?>
</div>
</div>
</div>
<div class='futur_h' >
<div class='fluid-24 ' >
<div class='job-search'  style='width:100%;float:left;padding-bottom:30px' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(154);?>
</div>
</div>
</div>
