<div class='futur_h' >
<div class='fluid-24 ' >
<div class='log'  style='width:100%;float:left' >
<?\JOBSEARCH\WIDGET\image::RENDER(144);?>
</div>
</div>
</div>
<div class='futur_h' >
<div class='fluid-24 ' >
<div class='job-search'  style='width:100%;float:left;margin-left:20px;padding-bottom:30px' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(145);?>
</div>
</div>
</div>
