//titleFont
$title-size : 16px;
$title-color : $primary-font-color;
$title-weight : bold;
//inputForm
$input-border-color : $border-color;
$input-border-size : 1px;
$input-radius : 2px;
$input-bg : $input-background-color;
$input-color : $input-font-color;
$input-size : 14px;
$input-weight : normal;
$input-padding : 5px 5px;
//searchButton
$icon-width : 30px;
$icon-height : 30px;
$button-decoration : none;
$button-color : $link-hover-font-color;
$button-size:14px;
$button-weight:bold;
$button-start-bg : $body-background-color;
$button-end-bg : $site-background-color;
$button-radius : 10px;
$button-horizontal-padding-size : 20px;
$button-vertical-padding-size : 10px;
$button-margin-top : 30px;
$button-border-color : $border-color;
$button-border-size : 1px;
//searchButtonHover
$button-hover-decoration:none;
$button-hover-color: $link-font-color;
$button-start-hover-bg: $site-background-color;
$button-end-hover-bg: $body-background-color;
$button-hover-border-color : $border-color;


//dropdown
$dropdown-width : 250px;
$dropdown-border-top-size : 1px;
$dropdown-border-left-size : 1px;
$dropdown-border-right-size : 1px;
$dropdown-border-bottom-size : 1px;
$dropdown-border-color : $border-color;
$dropdown-bg: $input-background-color;
$dropdown-top-radius : 0px;
$dropdown-bottom-radius : 10px;
//suggestion
$suggestion-color: lighten($input-font-color, 30%);
$suggestion-size : 12px;
$suggestion-weight : normal;
$suggestion-padding-size : 5px;
$suggestion-margin-top : 5px;
$suggestion-radius : 0px;
$suggestion-border-color : $border-color;
$suggestion-border-top-size : 1px;
$suggestion-border-left-size : 0px;
$suggestion-border-right-size : 0px;
$suggestion-border-bottom-size : 0px;
//dimension
$search-input-width: 35%;
