<div class="TBD">
    <form name="searchFormHome" method="post" action=""  accept-charset="UTF-8">
        
        <input type="hidden" name="locationID" id="locationID" value="0" />            
        <input type="text" name="SKeywords" id="SKeyword" />
        <input type="text" id="locationSearch" value=""  />
        &nbsp;&nbsp;&nbsp;
        <button id="submitSearch" name="submitSearch"  type="button" class="btn-search btn btn-info" >
            Find &raquo;
        </button>
    </form>
</div>
