.odd{
    @include gradient-vertical($odd-start-bg, $odd-end-bg);
}
.even{
    @include gradient-vertical($even-start-bg, $even-end-bg);
}
.resultItem{
    margin-top : $element-padding;
    float : left;
    width : 100%;
    
    padding-bottom : $element-padding;
    .clear{
        clear:both;
    }
    .date{
        padding : $element-padding;
        margin : 0;
        float : left;
        width : 12%;
        background-color : $date-bg;
        color : $date-color;
        font-size : $date-size;
        font-weight : $date-weight;
    }
    .title{
        padding : $element-padding;
        margin : 0;
        float : left;
        width : 87%;
        
        a{
            color : $job-link-color;
            font-size : $job-link-size;
            font-weight : $job-link-weight;
            text-decoration : $job-link-decoration;
        }
        a:hover{
            color : $job-link-hover-color;
            text-decoration : $job-link-hover-decoration;
        }
    }
    .p1{
        float : left;
        width : 30%;
        padding-left : $element-padding/2;
        p{
            padding : 0px;
            margin : 0px;
            .key{
                color : $key-color;
                font-size : $key-size;
                font-weight : $key-weight;
                
            }
            .value{
                color : $value-color;
                font-size : $value-size;
                font-weight : $value-weight;
                margin-left : $element-padding/2;
            }
        }
        
        border-right : $separation-border-size $separation-border-style $separation-border-color;
    }
    .p2{
        float : left;
        width : 69%;
        padding-left : $element-padding/2;
        color : $jobdesc-color;
        font-size : $jobdesc-size;
        font-weight : $jobdesc-weight;        
        line-height : $jobdesc-line-height;
    }    
}
p.noresult{
    color : $noResult-color;
    font-size : $noResult-size;
    font-weight : $noResult-weight;
    padding : $noResult-padding-size;
    background-color : $noResult-bg;
}