//Even
$even-start-bg : lighten($input-background-color, 40%);
$even-end-bg : $input-background-color;
//Odd
$odd-start-bg : lighten($input-background-color, 50%);;
$odd-end-bg : lighten($input-background-color, 10%);;
//Padding
$element-padding : 5px;
//Separation
$separation-border-color : $apply-color;
$separation-border-style : solid;
$separation-border-size : 1px;
//JobLink
$job-link-color : $link-font-color;
$job-link-size : 14px;
$job-link-weight : normal;
$job-link-decoration : none;
//JobLInkHover
$job-link-hover-color : $site-background-color;
$job-link-hover-decoration : underline;
//Date
$date-color : $link-hover-font-color;
$date-size : 14px;
$date-weight : bold;
$date-bg : $border-color;
//Key
$key-color : $primary-font-color;
$key-size : 12px;
$key-weight : bold;
//Value
$value-color : $link-font-color;
$value-weight : normal;
$value-size : 12px;
//Description
$jobdesc-color : lighten($primary-font-color, 30%);
$jobdesc-size : 12px;
$jobdesc-weight : normal;
$jobdesc-line-height : 130%;
//NoResults
$noResult-color : $primary-font-color;
$noResult-size : 15px;
$noResult-weight : bold;
$noResult-padding-size : 10px;
$noResult-bg : $site-background-color;




