<?
if($search->foundRows>1){
?>    
<ul>
    <?
    foreach($search->resultList as $job){
    ?>
    <li><?=$job->getTitle();?><br />
        <span><?=$job->location[0]->lastName();?></span>
    </li>
    <?
    }
    ?>
</ul>
<?    
}
?>