p{
    font-size : $title-size;
    font-weight : $title-weight;
    color : $title-color;
    @include border-radius($title-radius);
    border : $title-border-size solid $title-border-color;
    background-color : $title-bg;
    padding : $title-padding;
    text-align : $title-text-align;
}
div{
    a{
        color : $job-title-color;
        text-decoration : $job-title-decoration;
        background-color : $job-title-bg;
        padding : $job-title-padding;
        font-size : $job-title-size;
    }
    a:hover{
        color : $job-title-hover-color;
        text-decoration : $job-title-hover-decoration;
        bakcground-color : $job-title-hover-bg;
    }

    font-size : $location-size;
    font-weight : $location-weight;
    color : $location-color;
    padding : $job-title-padding;

}