//Title
$title-size : 16px;
$title-weight : bold;
$title-color : $primary-font-color;
$title-radius : 0px;
$title-border-size : 0px;
$title-border-color : $border-color;
$title-bg : $site-background-color;
$title-padding : 5px 10px;
$title-text-align : left;
//JobLink
$job-title-color : $link-font-color;
$job-title-decoration : underline;
$job-title-bg : $site-background-color;
$job-title-padding : 5px 10px;
$job-title-size : 14px;
//JobLinkHover
$job-title-hover-color : $link-hover-font-color;
$job-title-hover-decoration : underline;
$job-title-hover-bg  : $site-background-color;
//Location
$location-size : 13px;
$location-weight : normal;
$location-color : lighten($primary-font-color, 20%);