
<?
if(count($links)>0){
?>
<p><?=$title;?></p>

<?
foreach($links as $job){
?>
<div>
    <a href="<?=$job->getURL()->url;?>"><?=$job->getTitle();?></a> - <?=$job->location[0]->lastName;?>
</div>
<?}?>

<?
}
?>
