<div class='fluid_e' >
<div class='cols-p ' >
<div class='image-st'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(13);?>
</div>
</div>
<div class='cols-f ' >
<div class='search-panel'  style='float:left;margin-top:60px;width:100%' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(14);?>
</div>
</div>
</div>
<div class='fluid_e' >
<div class='cols-h ' >
<div class='search-data'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\searchResult::RENDER(15);?>
</div>
<center><div class='more'  style='float:center;width:100%' >
<?\JOBSEARCH\WIDGET\pagination::RENDER(17);?>
</div>
</center></div>
<div class='cols-i ' >
<div class='data-refine'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\refine::RENDER(16);?>
</div>
</div>
</div>
