<div class='fluid_e' >
<div class='cols-p ' >
<div class='image-st'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(7);?>
</div>
</div>
<div class='cols-f ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
<div class='fluid_e' >
<div class='cols-b ' >
<div class='search-panel'  style='float:left;padding-left:20px;padding-right:20px;width:100%' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(8);?>
</div>
</div>
</div>
<div class='fluid_e' >
<div class='cols-b ' >
<center><div class='image-st'  style='float:center;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(9);?>
</div>
</center></div>
</div>
