<div class='fluid_e' >
<div class='cols-p ' >
<div class='image-st'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(18);?>
</div>
</div>
<div class='cols-f ' >
<div class='search-panel'  style='float:left;margin-top:50px;width:100%' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(19);?>
</div>
</div>
</div>
<div class='fluid_e' >
<div class='cols-b ' >
<div class='b-link'  style='float:right;width:100%' >
<?\JOBSEARCH\WIDGET\backSearchResultsLink::RENDER(20);?>
</div>
<div class='job'  style='float:left;margin-top:20px;padding-bottom:30px;width:100%' >
<?\JOBSEARCH\WIDGET\jobDetails::RENDER(21);?>
</div>
</div>
</div>
