<script type="text/javascript" src="/assets/extjs/jquery.js?v=1518605671"></script>
<script type="text/javascript" src="/assets/extjs/autocomplete.js?v=2079416364"></script>
<script type="text/javascript" src="/assets/extjs/hogan.js?v=1430557099"></script>
<script type="text/javascript" charset="utf-8">var uID=6;</script>