<div class='section_s' >
<div class='bloc-7 ' >
<div class='st-img'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(41);?>
</div>
</div>
<div class='bloc-17 ' >
<div class='search-box'  style='float:left;margin-top:50px;width:100%' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(46);?>
</div>
</div>
</div>
<div class='section_s' >
<div class='bloc-24 ' >
<div class='bread-crumb'  style='float:left;margin-top:20px;width:100%' >
<?\JOBSEARCH\WIDGET\breadcrumb::RENDER(95);?>
</div>
<div class='data-search'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\searchResult::RENDER(47);?>
</div>
<center><div class='pa'  style='float:center;padding-bottom:20px;width:100%' >
<?\JOBSEARCH\WIDGET\pagination::RENDER(49);?>
</div>
</center></div>
</div>
