<div class='section_s' >
<div class='bloc-7 ' >
<div class='st-img'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(42);?>
</div>
</div>
<div class='bloc-17 ' >
<div class='search-box'  style='float:left;margin-top:50px;width:100%' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(43);?>
</div>
</div>
</div>
<div class='section_s' >
<div class='bloc-16 ' >
<div class='job-details'  style='float:left;margin-top:10px;width:100%' >
<?\JOBSEARCH\WIDGET\jobDetails::RENDER(44);?>
</div>
<div class='jobs-sim'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\similarJobs::RENDER(96);?>
</div>
</div>
<div class='bloc-8 ' >
<div class='styleJob'  style='float:left;padding-bottom:20px;width:100%' >
<?\JOBSEARCH\WIDGET\jobSide::RENDER(45);?>
</div>
</div>
</div>
