<div class='section_s' >
<div class='bloc-24 ' >
<center><div class='st-img'  style='float:center;margin-top:20px;width:100%' >
<?\JOBSEARCH\WIDGET\image::RENDER(67);?>
</div>
</center></div>
</div>
<div class='section_s' >
<div class='bloc-24 ' >
<center><div class='info-text'  style='float:center;width:100%' >
<?\JOBSEARCH\WIDGET\freeText::RENDER(70);?>
</div>
</center><div class='search-box'  style='float:left;padding-bottom:20px;padding-left:50px;padding-right:50px;width:100%' >
<?\JOBSEARCH\WIDGET\searchForm::RENDER(68);?>
</div>
</div>
</div>
<div class='section_s' >
<div class='bloc-5 ' >
<div style='width : 100%;float : left;'><br /></div></div>
<div class='bloc-14 ' >
<div class='cols jobs-last-posetd'  style='float:left;width:100%' >
<?\JOBSEARCH\WIDGET\latestJobs::RENDER(69);?>
</div>
</div>
<div class='bloc-5 ' >
<div style='width : 100%;float : left;'><br /></div></div>
</div>
