ul{
    list-style-type : none;
    a{
        color : $similar-color;
        font-size : $similar-size;
        font-weight : $similar-weight;

    }
    a:hover{
        text-decoration : $similar-decoration;
        color : $similar-hover-color;
    }
    span{
        color : $similar-location-color;
        font-size : $similar-location-size;
        font-weight : $similar-location-weight;
    }
}