$similar-color : $primary-font-color;;
$similar-size : 13px;;
$similar-weight : normal;

$similar-decoration : underline;
$similar-hover-color : $link-font-color;;

$similar-location-color : $link-font-color;;
$similar-location-size : 13px;;
$similar-location-weight : normal;