<?
if($search->foundRows>0){
?>
<ul>
    <?
    foreach($search->resultList as $job){
    ?>
    <li><?=$job->getTitle();?> <span><?=$job->location[0]->lastName;?></span></li>
    <?
    }
    ?>
</ul>
<?
}
?>