p{
    font-size : $title-size;
    font-weight : $title-weight;
    color : $title-color;
    @include border-radius($title-radius);
    border : $title-border-size solid $title-border-color;
    background-color : $title-bg;
    padding : $title-padding;
    text-align : $title-text-align;
}

ul,ol{
    margin-left : 0px;
    padding : 0;
    list-style-type:none;
    dl, dd{
        float : left;
        width : 100%;
        padding : 0;
        margin : 0;

    }
    dl{
        margin-top : $element-margin;
    }
    .title{
        h2{
            padding : 0;
            margin : 0;
            float : left;
            width : 80%;
            a{
                color : $job-link-color;
                font-size : $job-link-size;
                font-weight : $job-link-weight;
                text-decoration : $job-link-decoration;
            }
            a:hover{
                color : $job-link-hover-color;
                text-decoration : $job-link-hover-decoration;
            }



        }
        .location{
            width : 20%;
            float : left;
            color : $location-color;
            font-size : $location-size;
            font-weight : $location-weight;
        }
        margin-bottom : $element-margin/2;
    }

    .company{
        margin-bottom : $element-margin/2;
        color : $company-color;
        font-size : $company-size;
        font-weight : $company-weight;
    }
    .date{
        margin-bottom : $element-margin/2;
        color : $date-color;
        font-size : $date-size;
        font-weight : $date-weight;
        float : left;
        width : 100%;
        border-bottom : $element-border-size $element-border-style $element-border-color;
    }
}