//Title
$title-size : 16px;
$title-weight : bold;
$title-color : $primary-font-color;
$title-radius : 0px;
$title-border-size : 0px;
$title-border-color : $border-color;
$title-bg : $site-background-color;
$title-padding : 5px 10px;
$title-text-align : left;
//Element
$element-margin : 10px;
$element-border-color : $input-background-color;
$element-border-size : 1px;
$element-border-style : solid;
//JobLInk
$job-link-color : $link-font-color;
$job-link-size : 16px;
$job-link-weight : normal;
$job-link-decoration : none;
//JobLinkHover
$job-link-hover-color : $link-hover-font-color;
$job-link-hover-decoration : underline;
//Company
$company-color : $primary-font-color;
$company-weight : normal;
$company-size : 12px;
//Date
$date-color : $primary-font-color;
$date-size : 12px;
$date-weight : normal;
//Location
$location-color : $primary-font-color;
$location-size : 12px;
$location-weight : normal;