.right{
    width : 100%;
    float : left;
    h3{
        font-size : $summary-size;
        padding : 10px;
        font-weight : $summary-weight;
        color : $summary-color;
        background-color : $summary-bg;
        border-size : $summary-border-size;
        @include border-radius($summary-radius);
    }
    #map{
        width : 100%;
        height : 250px;
        margin-bottom : 10px;
    }
    .key{
        font-size : $key-size;
        font-weight : $key-weight;
        color : $key-color;
        float : left;
        width : 40%;
        padding : 0px;
        margin-bottom : 10px;
    }
    .value{
        font-size : $value-size;
        font-weight : $value-weight;
        color : $value-color;
        float : left;
        width : 60%;
        padding : 0px;
        margin-bottom : 10px;
    }
    hr{
        clear:both;
    }

}
button{
    @include border-radius( $apply-radius );
    border : $apply-border-size solid $apply-border-color;
    color : $b-apply-color;
    @include gradient-vertical($apply-start-bg, $apply-end-bg);
    font-size: $apply-size;
    font-weight : $apply-weight;
    padding : $apply-vertical-padding $apply-horizontal-padding ;
    text-decoration : $apply-decoration;
}
button:hover{
    color : $apply-hover-color;
    @include gradient-vertical($apply-start-hover-bg, $apply-end-hover-bg);
    text-decoration : $apply-hover-decoration;
}
