//Header
$summary-size : 16px;
$summary-weight : bold;
$summary-color : $primary-font-color;
$summary-bg : $input-background-color;
$summary-border-size : 1px;
$summary-radius : 5px;
//Key
$key-size : 12px;
$key-weight : bold;
$key-color : $primary-font-color;
//Value
$value-size : 12px;
$value-weight : normal;
$value-color : $primary-font-color;
//Apply
$apply-radius : 10px;
$apply-border-size : 1px
$apply-border-color : $border-color;
$b-apply-color : $site-background-color;
$apply-start-bg : $apply-color;
$apply-end-bg : lighten($apply-color, 30%);
$apply-size : 16px;
$apply-weight : bold;
$apply-vertical-padding : 5px;
$apply-horizontal-padding :5px;
$apply-decoration : none;
//ApplyHover
$apply-hover-color : lighten($apply-color, 40%);
$apply-hover-decoration : underline;
$apply-start-hover-bg : lighten($apply-color, 30%);
$apply-end-hover-bg : $apply-color;